[2015-08-12 16:46] thedaniel opened #1 "Incomplete sorted package listings on atom.io/packages"
_From @jacekkopecky on August 6, 2015 20:44_

The listing sorted by stars seems to be incomplete: https://atom.io/packages/list?direction=desc&sort=downloads shows `vim-mode` there with many downloads and 505 stars, but https://atom.io/packages/list?direction=desc&sort=stars doesn't show `vim-mode` even though its 505 stars should put it right after `highlight-selected`.

_Copied from original iss

[2015-08-12 16:47] thedaniel opened #2 "Display type info in method signatures"
_From @ssorallen on August 6, 2015 22:37_

Surfacing type information in method signatures would make scanning the docs more valuable. For example from the TextEditor (https://atom.io/docs/api/v1.0.5/TextBuffer#section-Mutating%20Text):

Currently:

Surfacing type information in the signature:

The examples are formatted to fit Flow's [type annotations](http://flowtype.org/docs/type-annotations.ht

[2015-08-12 16:47] thedaniel opened #3 "Summarize methods in left bar, remove collapsing/expanding"
_From @ssorallen on August 6, 2015 22:45_

This is a suggestion based on Ruby's documentation site (like http://ruby-doc.org/core-2.2.0/Array.html for example).

Currently each class documentation page for Atom (like https://atom.io/docs/api/v1.0.5/TextEditor for example) attempts to be both a table of contents and the content itself by collapsing all sections by default. This makes searching for

[2015-08-12 16:47] thedaniel opened #4 "Link primitives to MDN's primitives doc"
_From @ssorallen on August 11, 2015 0:36_

This is related to https://github.com/atom/atom/issues/8124

Lowercase JavaScript primitives should link to https://developer.mozilla.org/en-US/docs/Glossary/Primitive.

Atom's documentation mostly refers to the uppercase wrapper objects like Boolean, Number, and String, but nearly all of those uses should reference the lowercase primitives boolean, numbe

[2015-08-12 16:47] thedaniel commented on #4
_From @thomasjo on August 11, 2015 6:14_

I'm just curious why this issue was opened on this repo; isn't this a problem across all relevant Atom repos?

[2015-08-12 16:47] thedaniel commented on #4
_From @ssorallen on August 11, 2015 6:34_

Someone in Slack mentioned issues against the project site, atom.io, should be opened on this repo. This is specifically about linking `{boolean}`, `{number}`, etc. to the correct page. The code that generates the site links `{Boolean}` to its object wrapper equivalent docs page on MDN, and I'm unsure where that mapping lives; it doesn't appear to be publ

[2015-08-12 16:47] thedaniel commented on #4
_From @thomasjo on August 11, 2015 6:51_

:cool:

[2015-08-12 16:47] thedaniel opened #5 "Cannot unpublish package once GitHub repository deleted"
_From @Sheng-Bo on July 7, 2015 15:16_

This is the package I want to remove from Atom package repository:
https://atom.io/packages/chinese-menu

Would you please remove it for me manually? Because I am afraid that this broken package could cause confusion for Atom users.

My suggestions:
1. Is it possible to have a "delete package" button on my Atom user profile page?
2. Is it possible to use APM

[2015-08-12 16:47] thedaniel commented on #5
_From @bronson on July 19, 2015 19:57_

Yes, this is affecting https://atom.io/packages/policeman-rubocop too.  It makes Atom crash when you try to install it!

It would be nice if the apm package would disappear when the github repo gets deleted.

[2015-08-12 16:47] thedaniel commented on #5
I removed those 2 packages from the DB. I'd like to make this flow better on the site and in the API, with at least a manual delete for packages owned by individuals.

[2015-08-12 16:47] thedaniel commented on #5
_From @Sheng-Bo on July 27, 2015 14:36_

Hi @thedaniel,
Thanks so much.

So how can I rename my package to chinese-menu? I tried, but it failed.
Thanks again.

[2015-08-12 16:47] thedaniel opened #6 "Cannot register package."
_From @jonasws on July 5, 2015 22:8_

I have been trying for a while to publish my package [github-utils](https://github.com/jonasws/github-utils), but I keep getting the following error when I try to run `apm publish minor`
[code]

I do indeed have access to the repo. I have tried to do `apm login`. Is something at fault with my Atom.io account user? Any comments would be greatly appreciated!

_C

[2015-08-12 16:47] thedaniel commented on #6
_From @izuzak on July 6, 2015 18:1_

Sorry to hear you're having trouble, @jonasws.

What does this mean? Have you tried and succeeded or tried and failed? Could you provide the full output of all apm commands you ran (including the commands themselves), and the contents of your local package.json?

[2015-08-12 16:47] thedaniel commented on #6
_From @jonasws on July 7, 2015 6:23_

It does indeed look as if I've succeeded in authenticating with `apm login`. (I also opened up the `node`console in the `apm` build directory in order toverify that the `keytar.findPassword` call returned the correct token).

The commands are posted below:
[code]

The contents of my `package.json` may be found  [here](https://github.com/jonasws/github-utils/bl

[2015-08-12 16:47] thedaniel commented on #6
_From @thomasjo on July 7, 2015 7:4_

Wait, you haven't got a `master` branch? I'm reasonably sure that's an assumed requirement of `apm`.
Try pushing a new branch called `master`;
[code]

[2015-08-12 16:47] thedaniel commented on #6
_From @thomasjo on July 7, 2015 7:10_

Hmm, it looks like my assumption might have been wrong:
https://github.com/atom/apm/blob/master/src/publish.coffee#L247-L248

@thedaniel Any clue?

[2015-08-12 16:47] thedaniel commented on #6
_From @jonasws on July 7, 2015 7:12_

@thomasjo You were right! I had a develop branch, and when I pushed the same commit to master on my repository, everything went smoothly! Totally went by me that it needed a master branch. I'll take a look through the docs to see where I missed it, but I suspect it may not be that clear, and maybe it should be added to the FAQ or similar somewhere? Could save

[2015-08-12 16:47] thedaniel commented on #6
_From @thomasjo on July 7, 2015 7:13_

@jonasws Great news! Still not sure where things are going wrong, but it might be an issue with the package API. Hopefully @thedaniel can shed some light on this.

[2015-08-12 16:47] thedaniel commented on #6
_From @izuzak on July 7, 2015 8:17_

Great investigation work @thomasjo and @jonasws :mag: -- yeah, I believe there's a dependency on the default branch being called "master" currently (in the atom.io registry code). Opened an internal issue to see what we can do about that. :tophat:

[2015-08-12 16:47] thedaniel commented on #6
_From @jonasws on July 7, 2015 12:45_

@izuzak Maybe use the GitHub API to check what the default branch is of the given repository when one tries to do `apm publish` without specifying a tag?

[2015-08-12 16:47] thedaniel commented on #6
_From @izuzak on July 7, 2015 13:42_

@jonasws Yeah, the atom.io registry uses the GitHub API extensively already -- I think specific situation this was an oversight (and the `default_branch` from the API response should be used, as you mentioned), but I'll let the folks maintaining atom.io make the call.

[2015-08-12 16:47] thedaniel commented on #6
_From @jonasws on July 7, 2015 13:55_

Yeah I figured it would not be an issue to implement that if the current OAuth scope includes those permissions. The option is to state it more explicitly in the docs on creatin packages.

[2015-08-12 16:48] thedaniel opened #7 "apm publish gives Application Error"
_From @noseglid on May 12, 2015 19:34_

Not sure if this is where this issue should go. Please direct me to the correct forum otherwise.

I get this:

[code]

I've debugged a little, and it appears I get `500 Internal Server Error` from the API. So likely something is off with whatever `apm` communicates with.

_Copied from original issue: atom/apm#364_

[2015-08-12 16:48] thedaniel commented on #7
_From @lee-dohm on May 13, 2015 0:30_

Have you done an `apm login` to make sure that it has your credential?

[2015-08-12 16:48] thedaniel commented on #7
_From @noseglid on May 13, 2015 6:6_

Yes I have. This is the 32nd release of this package I am doing from the exact same setup.

[2015-08-12 16:48] thedaniel commented on #7
_From @noseglid on May 13, 2015 18:41_

(I don't really think it's a problem with `apm`. The request for publishing looks fine from what I can tell. It's likely to be something with the service running at `atom.io`)

[2015-08-12 16:48] thedaniel commented on #7
Yeah any time atom.io 500s it's a concern. I'll look into it when I have a moment.

[2015-08-12 16:48] thedaniel commented on #7
_From @cs150bf on May 14, 2015 0:11_

I'm also seeing "Application Error". Tagging and pushing went okay. The new release (`v0.1.2`) shows up just fine on [the releases page of my git repo](https://github.com/cs150bf/ever-notedown/releases), but not on the [atom.io package page](https://atom.io/packages/ever-notedown) as it still says `v0.1.1`.

[2015-08-12 16:48] thedaniel commented on #7
_From @noseglid on May 14, 2015 8:43_

Not sure if this helps. I engineered the request using `cURL`.

[code]

If there's anything else I can do, let me know.

[2015-08-12 16:48] thedaniel commented on #7
Thanks for the details - I haven't fixed this yet, but I want to give an update; I see the failed requests in the server logs, but not in our internal exception tracking system, which makes it a little more difficult to reproduce. I'll update this thread when I know more.

[2015-08-12 16:48] thedaniel commented on #7
_From @noseglid on May 14, 2015 21:31_

It is happend **every** time I try to publish `v0.32.0` for the `build` package. You're welcome to publish it as a means to reproduce it. And if you succeed, it's all good!

[2015-08-12 16:48] thedaniel commented on #7
@noseglid strangely enough, there was a version 0.32.0 in the DB pointing to [this commit](https://github.com/noseglid/atom-build/commit/fb265b35598ff429528996a394a15a299f938287) from 2 weeks ago, that was created the same day as that commit's date. After I deleted that row from the DB, I was able to re-import a new 0.32.0 from the v0.32.0 tag: https://atom.io/packages/build

I'm not sure how it h

[2015-08-12 16:48] thedaniel commented on #7
_From @noseglid on May 15, 2015 6:52_

@thedaniel Aha! I might be able to  give some insight on that.

I did `apm publish` (on `0.31.0`) without the proper proxy/socksify connections set, which pushed the tag to github but never succeeded in publishing the package (from what I gathered at least).

I fixed the proxy settings and did another publish which succeeded (but this time it accidentally bec

[2015-08-12 16:48] thedaniel commented on #7
_From @magalhas on May 20, 2015 23:1_

I'm having the same symptoms with the `jenkins` package for over a month. I've tried different machines, `apm` setup is fine.

[2015-08-12 16:48] thedaniel commented on #7
_From @magalhas on June 6, 2015 17:43_

What's the status on this? Atom 1.0 is almost out and I can't release my updated package without deprecated APIs.

[2015-08-12 16:48] thedaniel commented on #7
Sorry about this, I'll take a look at it.

[2015-08-12 16:48] thedaniel commented on #7
_From @magalhas on June 9, 2015 8:31_

@thedaniel let me know

[2015-08-12 16:48] thedaniel commented on #7
@magalhas i see the errors in our exception tracking system, but I also notice that the version (0.3.2) in package.json on master matches the latest version here: https://atom.io/packages/jenkins

Is it possible that the package published successfully even though there was an error?

[2015-08-12 16:48] thedaniel commented on #7
@magalhas exactly what apm command are you running?

[2015-08-12 16:48] thedaniel commented on #7
_From @magalhas on June 10, 2015 23:9_

`apm publish patch`. After getting the application error message I've also tried unpublishing but it says that the version is not found.

[2015-08-12 16:48] thedaniel commented on #7
@magalhas I see an unpublished 0.3.3 in the db and some deleted tags in GitHub staff tools. The API won't let you unpublish a version and then publish the same one with a different tag - force pushing & deleting history in general leads to some unfortunate behavior in the atom.io API as it's closely tied to the GitHub repo. You can likely publish 0.3.4 though. I'm working on a fix for the API that

[2015-08-12 16:48] thedaniel commented on #7
_From @magalhas on June 11, 2015 10:15_

@thedaniel I was able to publish v0.3.4 as you've stated, though not being able to publish v0.3.3 is still harsh to understand for me. Thank you for your feedback :+1:

[2015-08-12 16:48] thedaniel commented on #7
_From @kmorey on June 18, 2015 16:22_

I'm having this issue with my package as well this morning. How can I resolve it?

[2015-08-12 16:48] thedaniel opened #8 "Feature request: Sorting Packages & Themes"
_From @boustanihani on February 17, 2015 11:4_

Could you please **allow sorting** search results on https://atom.io/packages & https://atom.io/themes by the **number of downloads** and the **number of stars** ?

And maybe also inside the Atom Editor...

_Copied from original issue: atom/apm#303_

[2015-08-12 16:48] thedaniel commented on #8
_From @jwerre on June 26, 2015 15:2_

:+1:

apm search --packages --sort downloads|stars package_name

[2015-08-12 16:51] thedaniel opened #9 "Feature request: Sorting Packages & Themes"
_From @boustanihani on February 17, 2015 11:4_

Could you please **allow sorting** search results on https://atom.io/packages & https://atom.io/themes by the **number of downloads** and the **number of stars** ?

And maybe also inside the Atom Editor...

_Copied from original issue: atom/apm#303_

[2015-08-12 16:51] thedaniel commented on #9
_From @jwerre on June 26, 2015 15:2_

:+1:

apm search --packages --sort downloads|stars package_name

[2015-08-12 16:51] thedaniel commented on #9
_From @simurai on June 30, 2015 4:29_

This is already possible on atom.io, but kinda hidden and not that obvious:

1. Click on the "See all" link
![screen shot 2015-06-30 at 1 23 55 pm](https://cloud.githubusercontent.com/assets/378023/8423875/6a21c42e-1f2b-11e5-8efb-5a0a12b18fd2.png)

2. Then change to "Most Downloads"
![screen shot 2015-06-30 at 1 24 21 pm](https://cloud.githubusercontent.com/a

[2015-08-12 16:51] thedaniel commented on #9
_From @boustanihani on June 30, 2015 14:11_

The "See all" link disappears when you search for something, there is still no way to sort search results...

Currently you can only sort all packages without filtering...

[2015-08-12 16:51] thedaniel commented on #9
_From @simurai on June 30, 2015 23:21_

@boustanihani I see, I missed the "search results" part.

[2015-08-12 16:51] thedaniel commented on #9
_From @kenden on July 29, 2015 13:9_

+1
Allowing to order packages/themes by number of stars / number of downloads from the Settings inside Atom would really help in choosing one.

[2015-08-12 16:52] thedaniel opened #10 "[Website] Show latest version release date for package detail on atom.io"
_From @mnquintana on January 26, 2015 23:39_

It would be really helpful to show the release date for the latest version of a package on atom.io (or if not a date, time since the last release). This would make it a little easier to weed out packages that might not be maintained anymore. Maybe something like:

![screenshot 2015-01-26 18 36 38](https://cloud.githubusercontent.com/assets/823545/59106

[2015-08-12 16:52] thedaniel commented on #10
I think that's pretty noisy in the package card, but it should definitely be on the detail page.

[2015-08-12 16:52] thedaniel commented on #10
What if we put a date in a tooltip on the version number in the card?

[2015-08-12 16:52] thedaniel commented on #10
_From @mnquintana on January 27, 2015 0:0_

Oops sorry, I realized that after I posted this. I meant on the detail page (the screenshot is from the detail page too).

[2015-08-12 16:52] thedaniel commented on #10
_From @mnquintana on January 27, 2015 0:3_

@thedaniel That would be okay, but IMO the benefit of showing the date would be making it obvious / explicit at a glance when the last release happened, and making it a tooltip would make it not very obvious or explicit. I think there is enough whitespace in that stats row to keep it from looking too cluttered, but only on the detail page.

[2015-08-12 16:52] thedaniel commented on #10
_From @zephraph on March 13, 2015 1:17_

I think showing the last updated date is pretty important. Seeing the version and downloads is great because it gives you a sense of maturity and popularity. It doesn't tell you the age of a package though.

For example, I was looking for a terminal package the other day. There are several of them out there, but most of them are really dated and no longer w

[2015-08-12 16:52] thedaniel commented on #10
I haven't looked at it, I've been at HQ all week doing a bunch of planning
& meetings and non-coding work. Next week I plan to pick up all these
dropped threads and get to codin' and mergin'

On Thu, Mar 12, 2015 at 6:17 PM, Zephraph <notifications@github.com> wrote:

[2015-08-12 16:52] thedaniel commented on #10
_From @zephraph on March 13, 2015 3:51_

I created a sister issue for this in settings-view. I really, really think this would be useful man.

[2015-08-12 16:52] thedaniel commented on #10
I really don't think this is important enough to be present in the package card as Atom stabilizes. How would you feel about replacing "latest version" with the publish date in the tooltip though?

[2015-08-12 16:52] thedaniel commented on #10
_From @mnquintana on April 23, 2015 20:35_

@thedaniel I mean, I think that would certainly be better than nothing, but I strongly disagree that it isn't important enough to add to the package card. If you are looking for a new package, regardless of what it is, I think you always want to know at least the following:

- If it's any good (quality)
- If it's maintained

Right now, you can get a sens

[2015-08-12 16:52] thedaniel commented on #10
_From @zephraph on April 23, 2015 22:19_

I completely agree with this. I was installing packages that hadn't been updated in forever and things were breaking. This would give _necessary_ visibility into the overall health of the package. 

[2015-08-12 16:52] thedaniel opened #11 "[Website] "Other platforms" link still redirects to FAQ on atom.io"
_From @mnquintana on January 21, 2015 15:16_

Now that Atom is available for all platforms, I think it would be better UX to instead actually show the releases for the other platforms when you click "Other platforms" from the home page. Right now, it just redirects to the FAQ question, which just states that builds are available for all of these platforms, but doesn't actually direct you to downlo

[2015-08-12 16:52] thedaniel commented on #11
_From @pwaring on February 17, 2015 11:32_

I've noticed this as well. It might also be worth making clear on any downloads page that only 64-bit builds are supported for Linux - it's a bit frustrating to follow all the links and then find out that 'Linux support' actually means '64-bit Linux for x86' (e.g. it won't run on a Raspberry Pi).

[2015-08-12 16:52] thedaniel opened #12 "[Website] Show version number near download links on atom.io"
_From @mnquintana on January 20, 2015 19:40_

It would be really useful to see what version number you'll be downloading when you hit one of the download buttons on atom.io. Of course, you could always check [Atom's releases on GitHub](https://github.com/atom/atom/releases) and download from there, but it would be nice to see the version number on the website too, preferably by the download button

[2015-08-12 16:57] thedaniel opened #13 "Improving Atom's release notes / changelogs"
_From @mnquintana on August 5, 2015 22:17_

## Challenge

Being a very modular project, Atom has a lot of changes happening across a lot of repos. This can make it quite a challenge to keep track of all the changes being made in Atom from version to version. Unfortunately, that has sort of meant that our release notes end up being rather bare-bones summaries of what's changed in any particular ver

[2015-08-12 16:57] thedaniel commented on #13
_From @izuzak on August 6, 2015 17:16_

This has been on my TODO list for a while -- I think it would be helpful. If someone is interested in working on this, perhaps we can team-up.

Thanks for creating a public issue to track this, @mnquintana. :sparkle:

[2015-08-12 16:57] thedaniel commented on #13
_From @mnquintana on August 6, 2015 17:23_

@izuzak I'd love to help out with this :smile:

[2015-08-12 16:57] thedaniel commented on #13
_From @Stanzilla on August 9, 2015 6:39_

In the client, you could reuse the cards UI to represent the updated modules on the changelog page, expanding on click if the users wants to know more about what changed in that package that was included with the Atom update. Might be a lot of wasted space though..

[2015-08-12 16:58] thedaniel opened #14 "Atom package documentation web page should handle relative image URLs."
_From @peterhal on July 9, 2015 18:1_

Github supports relative URLs for things like images in markdown files. The Atom generated package docs do not.

For example compare these:

https://atom.io/packages/nuclide-flow

And:

https://github.com/facebook/nuclide/tree/master/pkg/nuclide/flow

The relative image URLs work in the github page, but not the Atom page.

_Copied from original issue: atom/at

[2015-08-12 16:58] thedaniel commented on #14
_From @peterhal on July 9, 2015 18:2_

@thedaniel Thanks for taking a look

[2015-08-12 16:58] thedaniel commented on #14
I filed an issue on the repo for the site, will close this when it's fixed.

[2015-08-12 16:58] thedaniel commented on #14
_From @batjko on July 9, 2015 18:6_

Yea that one's been a trip-up for many a newbie package developer since the start.

[2015-08-12 16:58] thedaniel opened #15 "powerline: 400 Bad Request Repository inaccessible"
_From @blaisck on June 30, 2015 2:7_

Installing “powerline@0.1.0” failed.Hide output…
Unable to download https://www.atom.io/api/packages/powerline/versions/0.1.0/tarball: 400 Bad Request Repository inaccessible

_Copied from original issue: atom/atom#7567_

[2015-08-12 16:58] thedaniel commented on #15
_From @kevinsawicki on July 31, 2015 23:27_

I can definitely reproduce this.

@thedaniel should this package be removed since the repository is gone?

[2015-08-12 16:58] thedaniel commented on #15
_From @blaisck on August 12, 2015 7:33_

Or I should use this https://github.com/BoJlod9I/atom-powerline, But I prefer packages from atom, because it easy to install and configure for noob like me.

[2015-08-12 16:59] thedaniel opened #16 "Screenshot on atom.io homepage shows old theme"
_From @russlescai on May 31, 2015 22:30_

I know this is minor in the scheme of things, but I noticed the homepage for https://atom.io still has the Atom Dark theme, not the One Dark UI theme as the screenshot.

_Copied from original issue: atom/atom#7043_

[2015-08-12 16:59] thedaniel commented on #16
_From @mnquintana on June 4, 2015 1:16_

This might not get updated till 1.0 lands, but I'm not really sure.

[2015-08-12 16:59] thedaniel commented on #16
_From @russlescai on June 4, 2015 10:52_

no biggy more an observation. :)

[2015-08-12 16:59] thedaniel opened #17 "Atom.io pages should have dynamic page titles"
_From @mnquintana on May 3, 2015 15:58_

![atom page titles](https://cloud.githubusercontent.com/assets/823545/7445686/708f4458-f18b-11e4-82bb-b6385950ef96.png)

Those are all different pages on atom.io – no idea which is which. Pages on atom.io should have dynamic titles to reflect their content to avoid this kind of tab hell.

_Copied from original issue: atom/atom#6624_

[2015-08-12 16:59] thedaniel commented on #17
_From @50Wliu on May 3, 2015 18:12_

:+1:

[2015-08-12 16:59] thedaniel commented on #17
_From @RodrigoEspinosa on May 3, 2015 20:13_

:+1:

[2015-08-12 16:59] thedaniel commented on #17
_From @50Wliu on May 3, 2015 23:33_

For clarification, this only seems to happen on the API pages, not the flight manual, release notes, etc.

[2015-08-12 16:59] thedaniel commented on #17
_From @mnquintana on May 4, 2015 0:2_

It does happen with the [Flight Manual's Table of Contents page](https://atom.io/docs/v0.196.0/) and can happen with the Flight Manual's other pages too if navigated to from the Table of Contents (my guess is because the pages are loaded with pjax, which isn't pushing the new page title - a reload does load the correct page title).

This (all in all) applies

[2015-08-12 16:59] thedaniel commented on #17
_From @dorian-marchal on May 10, 2015 7:53_

In the meantime, here is a tiny userscript to fix that :
https://gist.github.com/dorian-marchal/d9352bb20ca4fb915fd7

I only tested it on the main pages of the API, so it might need some fixes.

To install it, you'll need [GreaseMonkey](https://addons.mozilla.org/fr/firefox/addon/greasemonkey/) (Firefox) or [TamperMonkey](https://chrome.google.com/webst

[2015-08-12 16:59] thedaniel opened #18 "Docs website 500ing"
_From @tinloaf on April 20, 2015 17:16_

Hi,

visiting https://atom.io/docs/v0.60.0/publish-a-package gives me a 500 error message and tells me to let you know if a refresh does not solve the problem. Well, it does not. ;)

_Copied from original issue: atom/atom#6444_

[2015-08-12 16:59] thedaniel commented on #18
_From @izuzak on April 20, 2015 18:22_

cc @thedaniel

[2015-08-12 16:59] thedaniel commented on #18
Thanks!

[2015-08-12 16:59] thedaniel commented on #18
_From @lee-dohm on April 21, 2015 0:44_

I suspect that this belongs on the [atom/docs repository](https://github.com/atom/docs)? The documentation has been *significantly* rewritten since v0.60.0. There is information around publishing a package in the new documentation here:

https://atom.io/docs/v0.192.0/hacking-atom-package-word-count#publishing

[2015-08-12 16:59] thedaniel commented on #18
_From @tinloaf on April 21, 2015 8:39_

Sure, I'm aware that that piece of information is out of date, but it should still not raise a 500 (i.e. "The server fell over").

[2015-08-12 16:59] thedaniel commented on #18
_From @mnquintana on April 21, 2015 10:55_

It should really be a 404 error (that URL just points to a resource that doesn't exist)

[2015-08-12 16:59] thedaniel commented on #18
@tinloaf is right, the app shouldn't be returning 500 ever - I'm not sure if that record exists in the DB or not - I'd guess it's probably malformed or missing some related record it needs to render the page since it's so old. This brings up an interesting question about just how much we care about the doc versions that are that old..

[2015-08-12 16:59] thedaniel commented on #18
_From @50Wliu on April 21, 2015 17:31_

@thedaniel none of the versions are working for me-try https://atom.io/docs/v0.186.0/publish-a-package for example or even latest.

[2015-08-12 16:59] thedaniel opened #19 "Add CORS headers for atom.io API usage"
_From @davidpett on February 18, 2015 3:39_

looking at the api, I would like to create an app to search themes and display them. The api endpoints are there, but I cannot consume them via ajax because of CORS.

Can you add a https://atom.io/crossdomain.xml to allow access?

_Copied from original issue: atom/atom#5603_

[2015-08-12 16:59] thedaniel commented on #19
_From @izuzak on February 18, 2015 12:49_

@davidpett Just to make sure we understand, would returning CORS headers instead of adding a crossdomain.xml file meet your needs (since that would allow you to make HTTP requests from client-side JS)? Or are you building a flash app?

[2015-08-12 16:59] thedaniel commented on #19
_From @davidpett on February 18, 2015 13:32_

Oh my gosh, yes CORS headers is all I need, sorry.

That's embarrassing.

On Wednesday, February 18, 2015, Ivan Žužak <notifications@github.com>
wrote:

--

*-DP*

[2015-08-12 16:59] thedaniel commented on #19
_From @izuzak on February 18, 2015 13:40_

Ha, thanks for clarifying :+1: :smile:.

[2015-08-12 17:00] thedaniel opened #20 "Add about the team page to atom.io"
_From @mark-hahn on January 22, 2015 20:54_

I would like to see an "about us" page on atom.io.  It should have a photo and short bio for every core team member along with primary responsibilities.  Many consider these public relations junk but I for one would like to see faces on the people that have such a big impact on Atom.  I think this would put a human face on the project and make it more w

[2015-08-12 17:00] thedaniel commented on #20
_From @Trudko on January 22, 2015 21:16_

+1

[2015-08-12 17:00] thedaniel commented on #20
_From @mnquintana on January 22, 2015 21:28_

:+1:

[2015-08-12 17:00] thedaniel commented on #20
Thanks for the suggestion, this is a good idea. We'll add it to our list of site enhancements, though it probably won't happen for a while.

[2015-08-12 17:46] AgentME commented on #11
This issue appears to have been fixed.

[2015-08-12 17:47] #11 closed

[2015-08-12 17:48] izuzak commented on #11
Thanks, @AgentME -- yeah, I think that was fixed recently.

[2015-08-12 18:11] sindresorhus commented on #14
:+1:

[2015-08-12 23:33] russlescai commented on #16
Thanks @thedaniel - looks like it has since been updated so this issue can now be closed.

:+1:

[2015-08-13 00:11] #16 closed

[2015-08-14 08:46] TZanke opened #21 "blog feed broken xml"
I cannot follow the atom blog (with ifttt) because it is no valid xml:

https://validator.w3.org/feed/check.cgi?url=http%3A%2F%2Fblog.atom.io%2Ffeed.xml

[2015-08-14 17:56] lee-dohm opened #22 "Intermittent service unavailable errors"
Had to start the build process three times before it made it all the way through this morning:

[code]

[2015-08-14 19:33] thedaniel commented on #22
There were some timeouts this morning but they seem to have gone away. Chalking it up to ghosts in the Heroku machine.

[2015-08-14 19:33] #22 closed

[2015-08-15 00:53] blaisck commented on #15
How if @kevinsawicki reproduce with that repo? I just want it so bad, thanks for all the responses.

[2015-08-19 00:26] chinakids opened #23 "Apm"

[2015-08-19 00:28] chinakids commented on #23
`Creating new version failed: Application error`
I can't publish my package~

[2015-08-19 00:29] chinakids commented on #23
https://github.com/atom/atom.io/issues/7

[2015-08-19 08:22] izuzak commented on #23
@chinakids Can you please include more specific information with your reports? Which package is this about -- can you provide a link? Which commands are you running in the terminal and what is the output of those commands? Do you have any changes in your local clone which are not in the GitHub repository for the package?

[2015-08-19 08:23] chinakids commented on #23
https://atom.io/packages/simplified-chinese-menu

[2015-08-19 08:26] izuzak commented on #23
And what is the output of those commands?

Do you have any changes in your local clone that are not on GitHub? What this the output of `git status` and `git log -n 1`?

[2015-08-19 08:30] chinakids commented on #23
On branch master
Your branch is up-to-date with 'origin/master'.

[2015-08-19 08:36] chinakids commented on #23
[code]

[2015-08-19 19:47] thomasjo commented on #23
@thedaniel Any ideas?

[2015-08-20 07:09] chuank opened #24 "Unable to register package"
I'm having no success in trying to publish my package.

apm login works, but every `apm publish minor` keeps returning:
![image](https://cloud.githubusercontent.com/assets/1781911/9377594/de975dfa-475d-11e5-8a33-80a55ab51d7f.png)

I got prompted for my Github credentials once, which I provided an access token for (I'm using 2FA), but it never seems to work.

Running git from my command line works

[2015-08-20 16:06] lee-dohm opened #25 "Please make links for v0.186.0 or previous documentation redirect to https://atom.io/docs/latest"
We are receiving reports of numerous people referring to old documentation because when they click "go to latest" from really old links, it takes them to v0.186.0, i.e. pre-atom/docs documentation. It would be better if things like https://atom.io/docs/v0.186.0/your-first-package was redirected to https://atom.io/docs/latest and have to find the "your first package" stuff than to be stuck looking

[2015-08-20 16:10] fedorov commented on #25
To clarify, the problem (at least with this particular page) is that it is not possible to access the latest (or it does not exist). Clicking on the "go to latest" redirects to the same page.

[2015-08-20 20:00] james2doyle commented on #23
![screen shot 2015-08-20 at 12 59 26 pm](https://cloud.githubusercontent.com/assets/1425304/9394107/5142079c-473b-11e5-9adb-8af1e4185509.png)

I am getting this too. I have logged in, have no failing test, and have committed everything to github.

[2015-08-20 21:42] stephenmathieson opened #26 "broken "Package" link in documentation"
in the [`PackageManager#enablePackage()` documentation](https://atom.io/docs/api/v1.0.7/PackageManager#instance-enablePackage), there's a broken link to [`Package`](https://atom.io/docs/api/v1.0.7/Package).

[2015-08-21 06:09] izuzak commented on #26
Thanks for the report, @stephenmathieson :bow:

@kevinsawicki @nathansobo I'm _guessing_ this is because `Package` is [not marked as Essential nor Extended](https://github.com/atom/atom/blob/0a6da382cfdb130144c76595f204b78e3aaf1067/src/package.coffee#L17-L20), even though it has [methods which are marked as public APIs](https://github.com/atom/atom/blob/0a6da382cfdb130144c76595f204b78e3aaf1067/src

[2015-08-21 17:52] nathansobo commented on #26
@izuzak It is because the `Package` isn't marked as essential or extended. We could make it so, but the API docs on `Package` itself are a bit of a mess as well.

[2015-08-21 17:53] kevinsawicki commented on #26
https://github.com/atom/atom/pull/7896

[2015-08-21 18:17] thedaniel commented on #24
@chuank Try logging out and in on the atom.io website and then trying to publish again from the command line. Recently GitHub expired a bunch of idle credentials so it's possible that refreshing them in this way will fix your API issues.

[2015-08-21 19:05] izuzak commented on #23
@thedaniel Do you think any of these problems might get fixed by the approach you mentioned in https://github.com/atom/atom.io/issues/24#issuecomment-133520328?

[2015-08-21 20:06] james2doyle commented on #24
![screen shot 2015-08-21 at 1 05 51 pm](https://cloud.githubusercontent.com/assets/1425304/9417954/61c7d360-4805-11e5-958f-cdc538c0fb61.png)

I tried logging out and logging in, then relogging into apm, and I still get this issue.

[2015-08-21 20:47] thedaniel commented on #24
@james2doyle I took a look at the logs and it seems that something specific to your package might be causing this. I'll update this thread as I learn more.

[2015-08-21 20:47] james2doyle commented on #24
ok great thanks

[2015-08-21 21:04] thedaniel commented on #24
@james2doyle

The way the API database indexes package.json contents means your giant 147KB package.json file is raising errors. This could be plauslibly fixed on the backend, but in the meantime, you should find a way to shrink it down. There's not really a good reason for a package.json file to be that big anyway.

It looks like you maybe copied the package.json out of an atom.io API result or a

[2015-08-21 21:10] james2doyle commented on #24
@thedaniel ok thanks, I dont use Atom but I accepted a PR with these changes. Once removed it looked like it published!

[2015-08-21 21:13] thedaniel commented on #24
Hurray!

[2015-08-21 23:26] thedaniel commented on #25
Thanks for the report, we'll look into it - I like the solution of just using redirects to abandon pre-Flight Manual docs.

[2015-08-23 09:44] izuzak commented on #23
@chinakids I was just looking into this and noticed you published version 3.2.4 -- does that mean you resolved the problem? If so, what was causing these issues for you?

[2015-08-23 09:58] chinakids commented on #23
@izuzak  This package.json has atom-cache infos，and this info cause application error...I use a post-installation package.json，and I committed

[2015-08-24 21:00] ssorallen opened #27 ""undefined" in docblock doesn't appear in API docs"
If "undefined" appears in a docblock, the word does not make it to the generated documentation. One example is for `PackageManager::getLoadedPackage`.

Source:
![screen shot 2015-08-24 at 1 55 52 pm](https://cloud.githubusercontent.com/assets/29612/9452324/6bbeea92-4a68-11e5-8390-fe66977ca9bc.png)

Generated doc:
![screen shot 2015-08-24 at 1 55 22 pm](https://cloud.githubusercontent.com/assets/29

[2015-08-25 04:57] chuank commented on #24
Thanks @thedaniel logging out and back into atom.io worked, and the package is now published.

I have an older, stub package that I was using to troubleshoot this issue, and I'd like to unpublish and remove it ([particle-offline-compile](https://atom.io/packages/particle-offline-compile)). I believe I deleted the repo once before, which resulted in a broken link between apm and github. I've tried

[2015-08-25 05:12] izuzak commented on #24
@chuank Done -- it has been removed.

[2015-08-25 05:43] chuank commented on #24
thanks @izuzak!

i did something stupid while waiting for a response – there's another `particle-offline-compileold` stub that now shows up as another orphaned package – please delete that too. thanks again

[2015-08-25 06:07] izuzak commented on #24
Deleted that one as well, @chuank

[2015-08-25 06:12] chuank commented on #24
thanks!

[2015-08-25 06:12] #24 closed

[2015-08-27 11:46] thisisnian opened #28 "404 - Broken link to chapter 3 from Atom Packages page"
Was browsing around and noticed that the following link was 404ing. Looks like the address was changed however the link was never updated.

The link is from Flight Manual -> 2: Using Atom -> Atom Packages (highlighted below)

![image](https://cloud.githubusercontent.com/assets/3102540/9519774/07150082-4d05-11e5-9cd2-875ff10fb492.png)

[2015-08-27 14:20] 50Wliu commented on #28
Could you please move this over to [atom/docs](https://github.com/atom/docs)?  Thanks.

[2015-08-29 02:02] #28 closed

[2015-09-01 13:12] CosmicWebServices opened #29 "Document Windows 10 support"
Works great on Windows 10 can you make the website say that

[2015-09-05 17:46] CosmicWebServices opened #30 "Source Code Of atom.io"
Can you add the source code so we can easily contribute?

[2015-09-08 01:36] asantos3 opened #31 "Stop using flash in 'copy token' button in atom.io/account"
Just using an old version of ZeroClipboard, right?

[2015-09-08 02:28] mnquintana commented on #31
Does ZeroClipboard not use Flash anymore? I haven't found any evidence of that from looking at their release notes.

[2015-09-08 11:35] asantos3 commented on #31
A while ago github stopped using flash for their copy buttons https://redd.it/3if6hu

I thought it was a new version of ZeroClipboard or something. Just use the clipboard API while falling back to ZeroClipboard then.

[2015-09-16 00:06] thedaniel commented on #30
We don't have plans to do this at this time.

[2015-09-16 00:06] #30 closed

[2015-09-16 18:00] nathansobo commented on #26
Now the hold up is reviewing the `Package` API and potentially trimming it back in any areas we aren't confident it's good. Since the package system is one of the messier areas of our codebase I'm reluctant to just make it public without reviewing it carefully.

[2015-09-20 17:54] CosmicWebServices commented on #30
ok

[2015-09-22 05:26] izuzak commented on #26
Closing this since https://github.com/atom/atom/pull/7896 was merged. The docs should refresh when the next Atom version is published -- let us know if that doesn't happen.

[2015-09-22 05:26] #26 closed

[2015-09-27 04:51] OmgImAlexis opened #32 "Recently Updated grid broken"
The 2nd to last grid item for "Recently Updated" doesn't line up correctly for some reason.

![screen shot 2015-09-27 at 2 19 15 pm](https://cloud.githubusercontent.com/assets/6525926/10121267/e2b389d0-6522-11e5-829b-8f8dde63e7f1.png)

[2015-09-27 07:34] thomasjo commented on #32
I'm unable to reproduce this. Are you still able to? If so, what browser (including version) and OS are you using?

[2015-09-27 08:06] OmgImAlexis commented on #32
Chrome 45.0.2454.99 (Official Build) (64-bit) on OSX 10.10.5 (14F27). I can't reproduce it anymore I'm assuming it was a bug that was specific to the items from the screenshot.

[2015-09-27 08:18] izuzak commented on #32
I can reproduce this reliably -- it's a problem with packages which have lots of keywords, it seems. See:

https://atom.io/users/izuzak

<img width="799" alt="screen shot 2015-09-27 at 10 17 42" src="https://cloud.githubusercontent.com/assets/38924/10121860/0655a4c6-6501-11e5-943f-3c1483434d8b.png">

cc @thedaniel @simurai

[2015-10-05 18:22] thedaniel commented on #25
Docs 186 and earlier now redirect to the latest landing page (flight manual or API). Thanks for the idea, and I'll remove the old doc versions from the db / various dropdowns soon.

[2015-10-05 18:22] #25 closed

[2015-10-05 18:23] thedaniel commented on #18
Superseded by #25

[2015-10-05 18:23] #18 closed

[2015-10-06 01:58] lee-dohm commented on #25
Thanks @thedaniel, this will be a big help!

[2015-10-06 16:30] fedorov commented on #25
I am still missing the response why your-first-package page has not been upgraded to the latest documentation. Sounds like an important page to me.

[2015-10-06 16:41] lee-dohm commented on #25
@fedorov check the latest documentation, there are two whole sections on writing packages with examples:

https://atom.io/docs/latest/hacking-atom-package-word-count
https://atom.io/docs/latest/hacking-atom-package-modifying-text

[2015-10-06 16:49] fedorov commented on #25
yes, I am aware of those, I guess it is just reorganization decision. Thanks!

[2015-10-07 09:19] adamralph commented on #29
Agreed. First thing I noticed on the site was "For Windows 7 & 8"

[2015-10-07 09:21] adamralph opened #33 "Q: Why isn't the website OSS?"
If it was, I'd just send a PR for things like https://github.com/atom/atom.io/issues/29 :wink:

[2015-10-07 22:51] MatthewSteen commented on #9
:+1:

[2015-10-09 05:29] thomasjo commented on #33
Essentially a duplicate of #30. /cc @thedaniel

[2015-10-09 05:29] #33 closed

[2015-10-09 05:54] adamralph commented on #33
It may be a duplicate, but the question hasn't been answered.

[2015-10-09 14:35] CosmicWebServices commented on #29
yes

[2015-10-13 13:20] thedaniel commented on #29
Thanks - I updated the copy to say "Windows 7 or later"

[2015-10-13 13:20] #29 closed

[2015-10-13 13:21] thedaniel commented on #33
I just updated the copy and closed #29 - anyway, this is a reasonable question. The 100s of repos that make up Atom are under an extremely permissive license, so why not the site? Basically, Atom the editor is an open source project with a big community from all around the world, but Atom is also a GitHub trademark, and we'd prefer to manage the site and marketing ourselves. There are also some tr

[2015-10-13 13:32] adamralph commented on #33
Thanks for answering the question :smile:

[2015-10-13 14:00] CosmicWebServices commented on #29
thx

[2015-10-22 21:06] lee-dohm opened #34 "Add way to document services provided by Atom default-installed packages"
I feel like the services provided or consumed by the Atom default-installed packages (autocomplete-plus, status-bar, tree-view, tabs, etc) should be documented in a central location rather than only in the package README. This would make the most sense in the developer documentation, but there isn't a way to include this currently implemented.

Please add a capability to document Atom provided or

[2015-10-22 21:07] thomasjo commented on #34
Agreed, I think this would a great enhancement/addition.

[2015-10-24 09:22] dsernst opened #35 ""atom.io is temporarily unavailable""
Trying to install a package, getting this error:

`Request for package information failed: atom.io is temporarily unavailable, please try again later.`

[2015-10-24 09:23] dsernst commented on #35
I see there's a status page: http://status.atom.io/ , but it doesn't seem accurate.

[2015-10-27 10:52] izuzak opened #36 "can't install any package"
_From @MohamedTita on October 27, 2015 0:23_

Unable to download https://www.atom.io/api/packages/color-picker/versions/2.0.13/tarball: DEPTH_ZERO_SELF_SIGNED_CERT

O.S Fedora 22

_Copied from original issue: atom/atom#9298_

[2015-10-27 10:52] izuzak commented on #36
Are you still seeing this problem? Are you behind a proxy of some kind? This works fine for me:

[code]

Also cc @thedaniel

[2015-10-27 11:37] MohamedTita commented on #36
apm install color-picker worked !!
and no i'am not behind any proxy

[2015-10-27 11:43] izuzak commented on #36
@MohamedTita Thanks. Can you open a new issue on https://github.com/atom/settings-view then and provide a screenshot of the error and clear instructions which reproduce the problem for you? Please also include Atom and OS version as you did before.

[2015-10-27 11:43] #36 closed

[2015-10-27 12:13] MohamedTita commented on #36
ok thank you ..

[2015-10-27 15:31] thedaniel commented on #35
This was a brief outage with one of our upstream providers, and should be fine now.

[2015-10-27 15:31] #35 closed

[2015-10-29 22:04] danielbayley commented on #9
+1 for sorting *search results* based on downloads or stars :+1:

[2015-11-02 19:19] lee-dohm opened #37 "Releases on the releases page is in the incorrect order (according to semver)"
It appears that the releases are listed in date order, when it would probably be best if they were in [semver order](http://semver.org/) (see item number 11 of the specification).

![screen shot 2015-11-02 at 11 16 46 am](https://cloud.githubusercontent.com/assets/1038121/10891541/6378e122-8153-11e5-9465-9ee0e4112810.png)

According to semver, they should be (from top to bottom):

* v1.1.0
* v1.1.

[2015-11-05 00:12] Stanzilla opened #38 "[Suggestion] Make changelogs mandatory for packages"
It's an annoying and confusing experience to only encounter a changelog on some apps and see it missing on others, I would love to see having this as a requirement to being able to host packages on atom.io.

[2015-11-05 06:00] thomasjo commented on #38
There's no sensible way to enforce this in a proper manner; people will just end up with empty changelog files or fill them with garbage. Encouraging people to manage changelogs is a good thing, but enforcing it is without a doubt a bad move.

There has been discussions about surfacing the changelog during package updates, in https://github.com/atom/settings-view/issues/282, which you might want t

[2015-11-05 06:00] #38 closed

[2015-11-05 06:19] thomasjo opened #39 "Use consistent naming and references to OS X"
Since a picture says more than a thousand words, or some such...
<img width="552" alt="atom" src="https://cloud.githubusercontent.com/assets/3622/10961264/2c08e0d4-838d-11e5-98d5-a16075b05837.png">

We should reference the OS/platform as OS X, not OSX or Mac. Mac is the hardware platform that runs the OS, not the OS itself. And OSX is simply a misspelling of the name.

[2015-11-12 13:39] #32 closed

[2015-11-12 13:42] OmgImAlexis commented on #32
@thedaniel was this fixed?

[2015-11-12 13:43] thedaniel commented on #32
Just deploying a fix for this now - this issue was auto-closed by the PR in the private repo for atom.io.

[2015-11-12 13:43] OmgImAlexis commented on #32
Okay, just making sure it wasn't accidently closed because of a commit. :+1:

[2015-11-16 22:11] forivall opened #40 "Add information on spec helpers to "writing specs""
The ["writing specs"](https://atom.io/docs/latest/hacking-atom-writing-specs) page should at the very least, link to the [spec-helper file](https://github.com/atom/atom/blob/v1.2.1/spec/spec-helper.coffee) in atom so that package/PR authors can see what helpers are available when writing specs.

So far, it looks like the list is
* [jasmine-jquery](https://github.com/velesin/jasmine-jquery) - alrea

[2015-11-16 23:58] mnquintana commented on #40
This issue was moved to atom/docs#143

[2015-11-16 23:58] #40 closed

[2015-11-19 22:58] varemenos opened #42 "Inpage links don't work because their target anchors don't have id attributes"
There are README.md files of packages like this [one](https://github.com/suda/tool-bar) that point to parts of the same page that work just fine in github but not in atom.io because the target of those anchors don't have the expected id attribute.

for example:

works: https://github.com/suda/tool-bar#plugins
doesn't work: https://atom.io/packages/tool-bar#plugins

what was expected: expected to g

[2015-11-23 16:08] thedaniel commented on #42
Thanks for the report.

[2015-11-27 14:56] louy2 opened #43 "Alternative Binary Distribution Channel for China Because S3 Amazon is Blocked"
Also causing https://github.com/atom/atom/issues/3801

This is a problem that plagues all the normal release channel of Github projects, including Atom.

I do not intend to bring political debate, but for now this is a rather big obstacle between Chinese developers and Atom which other editors such as Sublime Text and Notepad++ doesn't suffer from.

[2015-11-27 14:58] louy2 commented on #43
Just found the question in FAQ, but... well, it was quite a trip. Any chance adding a link at a more obvious location?

[2015-11-27 16:05] thedaniel commented on #19
Just added cors headers for routes under https://atom.io/api

[2015-11-27 16:05] #19 closed

[2015-12-01 00:21] grantcarthew commented on #9
+1

[2015-12-03 16:25] lee-dohm opened #44 "Broken links in FAQ, info on contributing to Atom difficult to find."
_From @sumyungguy on December 3, 2015 15:37_

I'm a new user having trouble with some broken community packages. I was looking for general information on how packages are published to atom.io, who is responsible for them, and how I could perhaps contribute to fixing them, particularly when the original author is no longer active or responding to pull requests and so on. Eventually I tracked down t

[2015-12-12 23:55] lee-dohm opened #45 "Code of conduct in the footer points to v1.2.0"
The atom/atom repository and Discuss point to v1.3.0.

[2015-12-18 16:31] cmbankester commented on #9
:+1: for sorting search results

[2015-12-28 13:18] Shreyas94 opened #46 "Bad link"
In this [page](https://atom.io/docs/v1.3.2/hacking-atom-the-init-file) the link to the Atom API in the first paragraph of the content leads to [this link](https://atom.io/docs/api/v1.3.2/Atom). The correct link would be [this](https://atom.io/docs/api/v1.3.2/AtomEnvironment).
 * Correct link : https://atom.io/docs/api/v1.3.2/AtomEnvironment
 * The mistake : https://atom.io/docs/api/v1.3.2/Atom

[2015-12-28 17:49] #46 closed

[2015-12-31 07:24] faddat commented on #9
+1,000,000

[2016-01-10 23:35] Adezandee opened #47 "Application error, package already registered"
Hi,
I've been trying to setup semantic-release workflow for my plugin today with [last-release-apm](https://github.com/Adezandee/last-release-apm) adapter and I didn't got the configuration right on the first time and now my package seems pretty badly messed up : see here https://atom.io/api/packages/fast-eslint

Could you clean the DB a bit from v1.1.3 please ?
Thx !

[2016-01-11 11:40] Adezandee commented on #47
Got a question about apm publish,
When you use `$ apm publish -t sometag` the backend registry fetch this the package.json from git to determine the version to release ?
That's kinda annoying because semantic-release is based on the fact that no version is commited into the repository (because npm publish creates a tarball from whatever is the current state of the filesystem at the time the comman

[2016-01-11 14:09] Gruntfuggly opened #48 "Improve visibility of RSS feed?"
Hi there

I raised an issue on the atom discussion boards about the lack of an RSS feed for package releases and updates. Somebody kindly pointed out that there is one, but they had to search for it to find it.

Maybe a link to it could be added to the "Keep in Touch" section at the bottom of the page?

Now I've found the RSS feed, my original issue isn't quite so important - I was wondering about

[2016-01-11 16:22] thedaniel commented on #47
That's correct, all apm releases are tied to git tags in public github repositories, and the tarballs are created by pulling them from the github archive API.

[2016-01-11 16:23] thedaniel commented on #47
Can you clarify a little bit how your package is messed up? I'm not sure what you are expecting to see, so I'm not sure what kind of cleanup you are asking for.

[2016-01-11 16:29] thedaniel commented on #48
Thanks for the feedback - I agree that this is worth adding.

[2016-01-11 16:42] zeke commented on #48
@Gruntfuggly what is the RSS URL?

[2016-01-11 16:44] lee-dohm commented on #48
@zeke https://atom.io/packages.atom

[2016-01-11 17:24] mnquintana opened #49 "Add view for showing a single Release and its full list of changes"
Currently, https://atom.io/releases shows the full list of changes (e.g. all merged PRs) for each minor release, including the Notable Changes, which can be quite overwhelming. Here's what I'm thinking:

1. Only show Notable Changes in the index view at https://atom.io/releases
1. Add a new view for showing a single release (e.g.  https://atom.io/releases/v1.3.0). This view would show the full lis

[2016-01-11 18:44] zeke commented on #48
`atom`, ha! Thanks @lee-dohm.

[2016-01-11 22:55] lee-dohm commented on #49
Maybe even just a click-reveal for the details?

/cc @atom/feedback

[2016-01-11 23:00] mnquintana commented on #49
I was thinking a view specifically so it can be linked to easily, but click-to-reveal would work too so long as we can link to them. :smile:

[2016-01-12 11:55] Adezandee commented on #47
Hi @thedaniel
Thanks for your response, I got unstuck by running `apm unpublish` witch deleted the entire repository and started from scratch. The side effect was that I lost my download count :cry: . But my semantic-release flow with CircleCI works now great ! See [this guide I just written](https://github.com/Adezandee/last-release-apm/blob/master/HOW.md).

[2016-01-12 11:55] #47 closed

[2016-01-20 14:34] jacogr commented on #7
Same here. 3 packages, 2 were fine the 3rd gave the issue. Yes, I am logged-in, yes I re-logged-in, yes other packages work - before and after my trial and tribulations. I have tried multiple times and completely screwed up the tags now.

This is the one that doesn't publish

https://atom.io/packages/git-control

Did it again, just to copy n paste.

[code]

[2016-01-20 14:36] jacogr commented on #23
Same here. 3 packages, 2 were fine the 3rd gave the issue. Yes, I am logged-in, yes I re-logged-in, yes other packages work - before and after my trial and tribulations. I have tried multiple times and completely screwed up the tags now.

This is the one that doesn't publish

https://atom.io/packages/git-control

Did it again, just to copy n paste.

[code]

[2016-01-23 00:00] thedaniel commented on #7
I mentioned this in another issue, but you should be able to avoid triggering this bug by removing the `_atomPackageCache` key in package.json.

[2016-01-25 02:35] ikari7789 opened #50 "Package search is throwing only 500 error"
Any search query to https://atom.io/packages/search?q= is currently generating a 500 error. I'm not sure what is the problem.

[2016-01-25 15:17] 50Wliu commented on #50
@ikari7789 Can you try again please?

[2016-01-25 18:34] a-laughlin commented on #9
+1.   As someone trying out Atom, being able to see popular packages in preferred languages would be helpful.

[2016-01-25 22:36] lee-dohm commented on #50
There was a temporary issue with the search servers. This is fixed now. Please let us know if this reoccurs.

[2016-01-25 22:36] #50 closed

[2016-01-27 00:15] mgarciaisaia opened #51 "Windows Installer misses .exe extension if downloaded with IE11"
I haven't tested other IE versions, but if I download Atom (from https://atom.io/download/windows ) using IE11, the downloaded file is called "AtomSetup" (with no extension), and can't be double-clicked.

If I use Firefox on the same computer, I get "AtomSetup.exe", and all works OK.

[2016-01-27 00:27] lee-dohm commented on #51
In the other issue I just linked, it seems that this is only reproducible on Windows 7. Is that what you have installed @mgarciaisaia? I thought you said you installed Windows 8.1?

[2016-01-27 01:17] mgarciaisaia commented on #51
Just to be sure I'm not drunk:

![ie11-win81x86](https://cloud.githubusercontent.com/assets/1190974/12600604/cf0a88a0-c479-11e5-9adf-7038ed4f01b7.gif)

It's the VM Microsoft offers for testing IE11/Win81 over VirtualBox at [this site](https://dev.windows.com/en-us/microsoft-edge/tools/vms/mac/).

This is what you get:

![ie11-win81x86-try-open](https://cloud.githubusercontent.com/assets/1190974/12

[2016-01-27 03:46] mgarciaisaia commented on #51
OK - I don't get _why_, but I get the cause.

Both AtomSetup.exe and Firefox Installer (the one you get from http://getfirefox.com) miss their .exe extension when you add query string parameters to the URL.

I mean, clicking the Download Windows button in atom.io gets me to https://atom-installer.github.com/v1.4.1/AtomSetup.exe?s=143124325 (some numbers, possibly a timestamp). That URL gets me a `

[2016-01-27 03:52] 50Wliu commented on #51
Interesting how this works on Windows 10 but fails on 7/8.  Does Windows 10 contain an IE update that 7 and 8 didn't receive?

[2016-01-27 04:03] 50Wliu commented on #51
Also, I noticed that your dev tools say "Edge" while mine says "11" (in addition to looking a lot different).

[2016-01-27 23:21] mgarciaisaia commented on #51
We could try reaching someone at Microsoft to check why this happens, but in the meantime, I'd go for linking to the `exe` without the `?s=...` query string, or linking to the Github Releases file - that would make sense anyway, right?

[2016-01-27 23:58] paulcbetts commented on #51
I mean, even if you find out why, what are you gonna do about it - Microsoft is definitely not going to send down a patch to fix this (they are actually legally bound to _only_ send security updates for old software that isn't optional), so you gotta just live with the status quo

[2016-01-28 22:24] lee-dohm opened #52 "Classes marked Experimental shouldn't show up in the "Essential" section"
<img width="887" alt="experimental-essential" src="https://cloud.githubusercontent.com/assets/1038121/12660831/c1eace80-c5ca-11e5-86d9-060e8f9b8496.png">

We should have a separate "Experimental" section or they should at least only show up in "Extended".

[2016-01-29 18:00] Shreyas94 opened #53 "Bad link"
[This link](https://atom.io/docs/v1.4.1/ch00/_customizing_keybindings) which ought to lead to the page in the documentation on mapping keys to commands leads to the Atom Flight Manual Page. There seems to be some sort of redirect.

[2016-01-29 18:19] lee-dohm commented on #53
Would you mind reopening this on the https://github.com/atom/docs repository? That's where this bug comes from.

Thanks for reporting the issue!

[2016-01-29 18:19] #53 closed

[2016-02-01 05:24] Ch4s3 commented on #13
I would love to have a changelog available on the package site so I don't have to go to the repo.

[2016-02-02 16:23] abyssvi opened #54 ""Getting Started" Section Wrong Links"
The Documentation part of the website has gone a bit weird.

If you are on https://atom.io/docs and hit "1. Getting Started" it takes you to https://atom.io/docs/v1.4.1/upgrading-to-1-0-apis-upgrading-your-package

From that page, on the left bar, 1.1, 1.2, and 1.3 are all incorrectly things involving upgrading packages, and not "Getting Started".

The only way to get to the *actual* Getting Start

[2016-02-02 17:06] 50Wliu commented on #54
This is a duplicate of atom/docs#155 - feel free to subscribe there for updates.

[2016-02-02 17:06] #54 closed

[2016-02-05 05:16] redbassett opened #55 "Broken Space Pen link"

[2016-02-05 05:17] #55 closed

[2016-02-19 09:04] danielbrodin opened #56 "Update or remove the featured section for packages"
The featured section for packages never seem to be updated. If no one has the time to keep track of interesting packages I think it should be removed because it looks kind of bad having a featured section that never is updated in my opinion.

I don't look under themes that much, but I get a feeling that the featured themes is updated now and then?

[2016-02-20 12:54] veniversum commented on #46
Link is still broken on [latest doc version](https://atom.io/docs/latest/hacking-atom-the-init-file).

[2016-02-22 19:49] ottlinger opened #57 "[Website-Security] Please provide a way to check downloaded contents e.g. SHA hashes"
### Description

Is it possible to provide SHA hashes to verify downloads from https://atom.io?
This would allow a checking/verification of the downloaded artifact.
### Steps to Reproduce
1. Visit https://atom.io
2. Select a download

**Expected behavior:** [What you expected to happen]

I'd love to confirm that the downloaded contents is the same as the one that was published.
Other big organizat

[2016-02-26 19:05] damieng commented on #51
Two possible solutions here:

- Add ?s=.exe to the URL
- Set the content-disposition on the download

It would appear the bug is that on Windows 7 version of IE in the absence of a content-disposition they scan the url for the file extension and don't account for query parameters.

[2016-02-27 04:41] mgarciaisaia commented on #51
I've confirmed adding a `.exe` at the end of the string - even if it's a query parameter like `?s=124124.exe` - works. Good catch @damieng :)

[2016-03-02 00:50] #44 closed

[2016-03-04 11:05] KSXGitHub opened #58 "Atom API tutorial for Workspace >> Opening needs to be correct"
Go to [this link](https://atom.io/docs/api/v1.5.3/Workspace#instance-open), see `options.split`. It tells me to use `"left"`, `"right"` `"top"`, `"bottom"` but atom actually uses `"left"`, `"right"`, `"up"`, `"down"`.

[2016-03-04 17:34] lee-dohm commented on #58
This is already fixed in the [code from where the documentation is generated](https://github.com/atom/atom/blob/master/src/workspace.coffee#L397). Thanks for reporting!

[2016-03-04 17:34] #58 closed

[2016-03-07 14:47] Alhadis commented on #14
Any progress?

I just stubbed my toe on this bug for the *second* time. [Once was enough](https://github.com/Alhadis/language-maxscript/commit/236fa8c0c80a0aba69f402ae0954392d99363b3f), but I still had to go and [do it again](https://github.com/Alhadis/language-apl/commit/076c57eb926515aa975eb14d70b4bb0e6e4811cc). ⍨

Being the scatter-brained idiot that I am, I'm sure I'll forget a second time whe

[2016-03-07 18:16] #48 closed

[2016-03-08 22:25] gtranchedone commented on #9
+1

[2016-03-23 07:20] breaddevil opened #59 "Please show atom latest version on the homepage"
With no auto update it is difficult to see if I am running an older version. Even the downloaded file name has no version mention.

Currently I have to go to https://github.com/atom/atom/releases/latest to figure that out, which was not obvious, it beeing named "Other platforms".

Maybe I am missing something?

[2016-03-23 07:26] voylinux opened #60 "Coffee code method declarations wrong"
Please note that Coffee code is being wrongly rendered and method definitions as changing -> to -&gt; special character line in [https://atom.io/docs/v1.6.0/hacking-atom-tools-of-the-trade](https://atom.io/docs/v1.6.0/hacking-atom-tools-of-the-trade)

This may be confusing for people not so used to read Coffee code.

`
MyPackageView = require './my-package-view'

module.exports =
  myPackageView:

[2016-03-23 07:41] thomasjo commented on #60
Thanks for the report! :bow:

I'm closing this however, since this has already been reported in https://github.com/atom/docs/issues/173.

[2016-03-23 07:41] #60 closed

[2016-03-23 07:45] Arakaki opened #61 "v1.5.4 or higher document sanitized html charactors"
[v1.5.3](https://atom.io/docs/v1.5.3/using-atom-snippets)
[code]

[v1.5.4](https://atom.io/docs/v1.5.4/using-atom-snippets)
[code]

[2016-03-28 14:43] 50Wliu commented on #61
Assuming this has been fixed with the conversion from Atlas to Nanoc (see atom/flight-manual.atom.io#173 for more details).

[2016-03-28 14:43] #61 closed

[2016-03-28 21:20] brettz9 opened #62 "Fix/improve docs re: API token"
At https://atom.io/account , an API token is listed with the message "You'll need this token to get automatic updates in Atom and to publish packages to the Atom package registry.".

Since this is no longer used for automatic updates, I think that should be removed, but also mention that it can be used with the command line `apm star --installed` and such, so that users as well as publishers see h

[2016-03-29 16:12] denysvitali opened #63 "Include yaourt command"
Since installing from repository is always the best choice, why don't you guys include a simple "yaourt -S atom-editor" in the homepage? I always get confused with the fact that atom is / isn't in the official repository of Arch or in the user repository (AUR). Plus, the package name "atom" in AUR is already taken, so "atom-editor" is the right one.
Those little things may create confusion, whilst

[2016-03-30 10:30] maul-esel opened #64 "Blog RSS feed broken"
The links in the RSS (Atom?) feed at http://blog.atom.io/feed.xml all point to `localhost:4000`.

[2016-03-30 15:49] maul-esel commented on #64
Seems to be fixed now, so I'm going to close this.

[2016-03-30 15:49] #64 closed

[2016-03-31 23:21] itiut opened #65 "Broken "TextEditorElement" link"
In [TextEditor documentation](https://atom.io/docs/api/v1.6.1/TextEditor) there is a link to TextEditorElement, but it is broken.

[2016-03-31 23:56] 50Wliu commented on #65
This is a duplicate of atom/flight-manual.atom.io#128 - feel free to subscribe there for updates.

[2016-03-31 23:56] #65 closed

[2016-04-04 10:41] cssberries commented on #9
+1

[2016-04-06 08:50] TakanashiOuken commented on #9
I tried to add &sort=downloads after search, but does not work :(

[2016-04-11 10:21] albertorestifo opened #66 "Imporve the trending algorithm"
The current trending view for the packages and themes, is in my opinion, weak: already popular packages are always there.

The algorithm should be refactored to advantage less popular packages/themes. Popularity of the package should be taken into consideration: the more popular the package is, the least "trending points" it gets.

[2016-04-12 05:17] lee-dohm commented on #63
The official distributions of Atom are available for download from the home page or https://github.com/atom/atom/releases. When Atom is officially available in package Linux package managers, we'll update the home page to indicate that with instructions on how to install from there. You may want to subscribe to https://github.com/atom/atom/issues/2956 for updates on that effort.

[2016-04-12 05:17] #63 closed

[2016-04-12 06:03] denysvitali commented on #63
Thanks for clarifying!

[2016-04-13 15:20] arirubinstein commented on #51
Confirmed this on vanilla windows server 2012 R2 standard / IE 11.0.9600.18283

[2016-04-25 19:52] tofagerl commented on #66
👍
Also, a 'view more' link would be helpful. Now all I can do is view the most popular today, this week or this month.
Surprise, it's the same six packages in different orders. Yay!

[2016-05-09 17:33] PixelT commented on #9
+1

[2016-05-09 19:10] reesjones opened #67 "Flight manual documentation incomplete"
"The Flow" section is incomplete - currently just a bulleted list with a TODO at the end.

Location of incomplete documentation:
[http://flight-manual.atom.io/hacking-atom/sections/package-word-count/#the-flow](http://flight-manual.atom.io/hacking-atom/sections/package-word-count/#the-flow

**Edit**: The "Making our tests work" section is also incomplete.

Link: [http://flight-manual.atom.io/hacki

[2016-05-09 21:31] 50Wliu commented on #67
Please reopen this on the [atom/flight-manual.atom.io](https://github.com/atom/flight-manual.atom.io) repository instead.  Thanks!

[2016-05-09 21:31] #67 closed

[2016-05-10 10:34] idleberg opened #68 "License file not recognized by package website"
I've already created an [issue](https://github.com/atom/package-generator/issues/41) for `package-generator`, but this is probably the more appropriate place for this issue:

Ideally, the website would work with `LICENSE`, `LICENSE.md` and maybe `LICENSE.txt`.

[2016-05-10 11:52] 50Wliu commented on #68
All three should work, but I believe there's currently a problem with the backend where it's not recognizing any license files.

/cc @lee-dohm

[2016-05-10 17:46] lee-dohm commented on #68
We know about the problem and I have a manual process that can go through and clean things up as a workaround for now. It's not a 100% thing, kind of intermittent. The website supports all three versions and even will do its best to detect if you only specify the license by name in the `package.json`.

[2016-05-11 17:06] shakvaal commented on #9
+1 Why is such an obviously neccessary feature isn't yet implemented? It's just a mere package sorting, cmon.

[2016-05-11 19:36] UziTech opened #69 "Searching documentation does not work"
If you click on "Documentation" in the top nav bar it brings you to https://atom.io/docs

Typing anything in the search box just brings you to http://flight-manual.atom.io/ and doesn't search anything

[2016-05-11 19:42] UziTech commented on #69
looks like the form action is "/docs/latest/search" but it should be "/docs/api/search/latest"

[2016-05-12 07:35] albertorestifo commented on #66
@tofagerl You can actually see a full list and filter it [here](https://atom.io/themes/list?direction=desc&sort=downloads).

You reach it my clicking "see all", on the side of the new/recently updated sections

[2016-05-12 15:22] Sequoia opened #70 "Package gone, listing still up"
https://atom.io/packages/mocha-snippets

Expected: Click install & it installs
Actual: 404

Link from page linked above to "repo" hits github 404.

[2016-05-12 15:29] Sequoia opened #71 "Package listing on atom.io contains defunct/broken packages"
Example: https://atom.io/packages/mocha-snippets

This is frustrating because you can still search in atom & find the package, only when you attempt to install do you get an issue.

### Best Solution, IMO
Log 400 errors like
[code]

When a package get "repository inaccessible" over multiple days, remove it from atom.io (or remove it from search results & flag it as not working).

### Easiest solut

[2016-05-12 20:22] 50Wliu commented on #70
/cc @thedaniel @lee-dohm

[2016-05-12 20:24] lee-dohm commented on #70
Fixed. Thanks!

[2016-05-12 20:24] #70 closed

[2016-05-16 07:00] dvorapa opened #72 "Link to atom GitHub on homepage missing"
I needed to use google to find atom's github repository. There is not any link on the homepage

[2016-05-16 08:58] alan-givati commented on #9
Sorting in Atom itself would also be great, but at least at atom.io would be good enough.  Its really hard to find packages at the moment - too much noise.

[2016-05-16 15:42] 50Wliu commented on #72
Yes there is - scroll down to the "Open Source" section and there are links to GitHub, Discuss, and Slack.

[2016-05-16 15:42] #72 closed

[2016-05-17 02:51] dvorapa commented on #72
Ah, I missed that. Lost in a text.

[2016-05-26 09:19] boustanihani commented on #9
Any updates on this ?

[2016-06-04 13:35] KSXGitHub opened #73 "Theme thumbnails in atom.io/themes"
Sometimes I want to see theme preview images without having to clicking the link.

I suggest atom.io provides  3 options for users to:
 - Display text only: name, descriptions
 - Display text + preview image
 - Display text, display floating preview image of which mouse is hovering in

[2016-06-07 04:19] samueloph commented on #9
Just to give an idea of how bad it is right now to find a package, i was just willing to install the [linter](https://atom.io/packages/linter) package and by searching "linter " i had to scroll down to the last result, that is, to find one package that perfectly matched my search string and has about 100 times more downloads than the 5 first results that do not perfectly match the search string i

[2016-06-07 13:37] mightyiam opened #74 "Is the newsletter active?"
I didn't get a message about the release of 1.8.

[2016-06-07 23:55] lee-dohm commented on #74
No, we never did manage to get the newsletter off the ground. You can be notified of releases (and other Atom news) by subscribing to the [Atom blog RSS feed](http://blog.atom.io/feed.xml) or there is also a [feed specifically for Atom releases](https://github.com/atom/atom/releases.atom).

I'm also working right now to remove the Keep In Touch Email link.

[2016-06-07 23:55] #74 closed

[2016-06-07 23:55] lee-dohm commented on #74
Thanks for bringing it up!

[2016-06-08 23:24] danielbayley commented on #68
+1. I noticed this recently too.

[2016-06-09 09:35] neeklamy commented on #71
One thing I’d add, there should always be a way to flag up any other problems.

Currently the microcopy on an individual package page reads:

Just change that to something general:

Following that link then opens a pop-up window, that too should be generalised, currently it’s:

How about this?

<img src="https://cloud.githubusercontent.com/assets/155358/15924905/7aab32ce-2e2c-11e6-9ce7-df30123a468

[2016-06-14 20:52] DominikDitoIvosevic commented on #9
Am I missing some package that fixes this due to this bug?

[2016-06-22 13:16] idleberg opened #75 "Support anchor links"
Many README files use anchors to link particular sections within the file. This works great when surfing on GitHub, but not on the Atom website. Would be a *nice-to-have* feature!

[2016-06-23 10:56] mitjajez opened #77 "Where/howto change atom.io to open links in default webbrowser?"
At first atom.io installation there was my default web browser Konqueror, but this changes to Firefox.
Atom.io stil opens links in Konqueror but i'd like to change that - i prefer to set this in general setting: default web browser, that changeing default browser would also effekt this setting.

[2016-06-23 20:20] 50Wliu opened #78 "'Copy token' button not functioning atom.io/account in Firefox"
_From @liuderchi on June 23, 2016 8:42_

This is about official page styling/function.
This is posted here because of end of this [discussion](https://discuss.atom.io/t/is-atom-io-atoms-website-open-sourced/14197/9).

in [account page](atom.io/account), _Copy token_ button is not functioning in Firefox (v47.0) while working fine in Chrome.
1. button went black when mouse hovered
   ![hovered](http

[2016-06-24 10:41] mitjajez commented on #77
Sorry this was my GNU/linux assotiation problem, I edited properties of .html files this way:
![Uploading html-association-related-problem.png…]()

[2016-06-24 10:41] #77 closed

[2016-06-24 10:43] mitjajez commented on #77
Sorry this was my GNU/linux assotiation problem, I edited properties of .html files this way:
![html-association-related-problem](https://cloud.githubusercontent.com/assets/4331845/16335832/2d1823da-3a09-11e6-874e-6d7352dc5193.png)

[2016-06-27 09:20] Toub commented on #9
Really missing this simple feature in Atom editor!

[2016-06-29 14:30] mibamur commented on #9
## Command line solution

### Zsh `"Atom Find with Sort Package + Cache Hour"`

Create file `/usr/local/bin/apms`

[code]

`chmod +x /usr/local/bin/apms`

### Example usage

`apms git -s` stars
`apms git -d` downloads

[code]

[2016-06-29 16:17] mibamur commented on #9
### JS solution

#### Draft for json `apm search --json package`

[code]

[2016-06-30 15:16] zoo1 opened #80 "Broken Link in Workspace documentation"
In the documentation for the Workspace Class, the open method contains a broken link. The broken link is the "Promise" in the return values block.
![capture 2016-06-04 at 11 15 01](https://cloud.githubusercontent.com/assets/4008169/16493560/f2d6e116-3eb3-11e6-861e-17bfe98aa192.png)

[2016-07-05 13:20] bvanrijn opened #81 "editor screenshot image repeats on landscape mode"
The editor screenshot on the Atom homepage repeats when I view the website in landscape mode on my iPhone 6. If there are any more details I need to provide, please let me know.

![image](https://cloud.githubusercontent.com/assets/11941174/16585975/ce5021cc-42c3-11e6-9d90-953b3b7ab116.png)

<strike>_(On a related, but side note: I've always wondered what theme is being used in that screenshot?)_</

[2016-07-09 09:59] bvanrijn commented on #81
The syntax themes I found that most closely resemble the one used in the screenshot are

- [tinacious-design-syntax] https://atom.io/themes/tinacious-design-syntax
- [oceans16-syntax](https://atom.io/packages/oceans16-syntax)

[2016-07-12 20:53] Alhadis opened #82 "Border overlaying floated image in package readme"
I'll let [a link to the phenomenon](https://atom.io/packages/language-agc) explain this one...

Should be a simple fix for the image:

[code]

[2016-07-14 07:31] thomasjo commented on #82
/cc @simurai

[2016-07-15 08:01] simurai commented on #82
Yes, that fix seems to work. 👍

[2016-07-15 11:25] winstliu commented on #81
@bvanrijn Off-topic, but I believe it's actually One Dark Vivid :).

[2016-07-15 12:37] winstliu commented on #80
This issue was moved to atom/flight-manual.atom.io#236

[2016-07-15 12:37] #80 closed, assigned to nobody

[2016-07-15 12:39] winstliu commented on #80
Whoops...moved it to the wrong repo D:.

[2016-07-15 12:41] winstliu commented on #80
@zoo1 to prevent more issue/comment spam, can you please manually move this to the atom/atom repo?  Thanks, and sorry for all the trouble.

[2016-07-17 15:26] winstliu opened #83 "All pathwatcher-related APIs are 404ing"
Any code link in https://atom.io/docs/api/v1.8.0/File or https://atom.io/docs/api/v1.8.0/Directory 404s.  The issue appears to be that the links are targeting node-pathwatcher@6.2.5, when in fact no such version exists (it goes 6.2.4 -> 6.3.0).

[2016-07-18 01:46] shreydesai opened #84 "Syntax theme preview images"
It's difficult to choose syntax themes [(https://atom.io/themes/list?direction=desc&sort=updated_at)](https://atom.io/themes/list?direction=desc&sort=updated_at) just based on their name; I think the website should have some sort of preview for the themes so it's easier for developers to scroll through the list of themes and pick the best one.

[2016-07-18 01:59] winstliu commented on #84
@shreydesai Most of the themes have a few pictures of their theme in action in their `README.md`, which is displayed when you click on the theme's name.  Is that helpful?

[2016-07-18 02:05] shreydesai commented on #84
Not really – the only information you get when searching for syntax themes on that website is the name and its popularity. While it is possible to go through each theme and click on the project to find the `README.md`, it would be so much easier to simply scroll through the list and see preview images without having to go to another page.

I know this might create other issues, such as making the

[2016-07-18 21:20] Stanzilla opened #85 "Support sorting on search pages"
See https://atom.io/search?utf8=%E2%9C%93&q=lua vs https://atom.io/packages/list?sort=created_at&direction=desc

The sorting dropdown goes away after triggering a search.

[2016-07-25 21:12] jt3k commented on #9
do sorting packages  in search results

[2016-08-01 19:54] phersh opened #86 "Brief comment for multi-line snippets in snippets.cson"
Please add a brief comment about multi-line snippets to snippets.cson. For example:

multi-line snippets can be defined using three double-quotes """ at the start and end of the body code.

[2016-08-05 00:12] pbiggar opened #87 "git-integration post formatting error"
Not sure this is the right place to report this, but this page (http://blog.atom.io/2014/03/13/git-integration.html) on the blog is formatted incorrectly. From `## Status bar icons` to the end are contained within a code block.

I wouldn't ordinarily mention it, but it seems to be the only docs on the web about the git integration, and I found it very useful.

[2016-08-05 04:33] mnquintana opened #88 "Really old API docs are indexed by Google"
![image](https://cloud.githubusercontent.com/assets/823545/17426279/f6e572b6-5a8a-11e6-84ee-1b85f53671bc.png)

Ideally, we should only let `atom.io/docs/latest/` URLs be indexed, instead of any corresponding to a specific version.

[2016-08-08 20:34] BinaryMuse commented on #51
This should be fixed with recent changes to Atom.io's download mechanism. Please feel free to reopen this issue if you continue to experience trouble.

[2016-08-08 21:16] mgarciaisaia commented on #51
I can confirm this got fixed - tested on the same IE11/Win8.1 environment from which I reported.

Thanks for that!

[2016-08-11 23:05] BinaryMuse commented on #51
We had to revert some of the changes we made that inadvertently fixed this issue, inadvertently re-breaking it :)

[2016-08-11 23:49] #51 closed

[2016-08-11 23:49] BinaryMuse commented on #51
Fixed for reals this time :)

[2016-08-12 03:37] TheDecryptor opened #89 "Wrong resolution images selected on HiDPI displays"
I noticed this in Firefox, none of the images on the site load the correct resolution versions on a HiDPI display, they instead load the 1x variants

The CSS has a lot of media queries like this

[code]

Which don't work since they only include the non-standard WebKit query, and a unprefixed version of that (Which being a non-standard property, doesn't exist).

Replacing the `min-device-pixel-rati

[2016-08-12 13:24] Olli commented on #85
I did request the same https://github.com/atom/atom-package-downloader/issues/2

[2016-08-17 01:05] mnquintana opened #90 "https://atom.io/docs/latest/contributing doesn't link to contributing guide anymore"
I'm not 100% sure that it did before, but it seems that https://atom.io/docs/latest/contributing used to link to the Contributing guide at https://github.com/atom/atom/blob/master/CONTRIBUTING.md, but it just links to https://flight-manual.atom.io now. 😕

Refs https://github.com/atom/autocomplete-plus/pull/748

[2016-08-17 01:40] winstliu commented on #90
I definitely should have reported this earlier - it's been broken at least since March 8.

[2016-08-22 18:07] #87 closed, assigned to nobody

[2016-08-22 18:08] lee-dohm commented on #87
Thanks for the report. It should be fixed now :grinning:

[2016-08-30 11:13] jon-freed commented on #9
Good news in relation to @thedaniel 's request (at top) for sorting inside the Atom Editor, because its search results are now defaulted to sort by the number of downloads in descending order.  This is true as of the [settings-view](https://github.com/atom/settings-view) package's [release](https://github.com/atom/settings-view/releases) v0.241.2 on 2016-08-10.

However, that package is part of co

[2016-09-09 09:30] idleberg opened #91 "Themes listed under newest packages"
I have noticed there are several themes listed in the “newest” section of packages. Alright, technically these are also packages, but shouldn't they _only_ be listed in the “newest” section of themes?

![8ef2e6379d787af353c759c66426e532dca7fcf8](https://cloud.githubusercontent.com/assets/1504938/18382326/c535968a-7680-11e6-9c5a-e7aaa8e6190c.png)

[2016-09-12 12:27] johnfrenchxyz opened #92 "Accessibility Improvements"
Hey, everyone. Love the site. The team did an amazing job.  I noticed some accessibility issues that could potentially help make the design a little more inclusive.  Nothing drastic, but these could be things to think about.  I looked over existing issues, but didn't see anything. Forgive me if I missed an existing issue.

**"Controls and media elements should have labels"**
The video play button

[2016-09-12 20:28] TPXP commented on #69
Bump ! Isn't this just about fixing a typo ? It should not take months !

[2016-09-12 20:47] TPXP opened #93 "The Atom API docs search is REALLY terrible"
Hey there !

I'm a beginner in Atom hacking and, as I tried to fix [a package](https://github.com/TPXP/scroll-sync) I found pretty cool, I had a great time with searching the Atom docs ! :book:

I'm not here to tell you about [why, when and how it broke](https://github.com/mark-hahn/scroll-sync/issues/16). I prefer telling you about my searching experience, and here is my point : The API docs' sea

[2016-09-12 20:49] UziTech commented on #69
I feel like there should be an XKCD comic somewhere illustrating why this simple change could take down the whole website and requires multiple developer meetings and code reviews.

[2016-09-12 20:57] TPXP commented on #69
I would definitely love to learn more about how could this trigger a 3rd world war while we're on it. :laughing:

[2016-09-21 22:13] #69 closed

[2016-09-21 22:20] maxbrunsfeld commented on #69
I'm really sorry this persisted so long, everyone. Thanks for the report.

[2016-09-22 20:35] jerone opened #94 ""Most starts" & "Recently Updated" package sorting doesn't work on users profile"
E.g. https://atom.io/users/jerone/stars?direction=desc&sort=stars where `file-icons` should be on second position, at least for `linter` and `atom-beautify`:
![2016-09-22 22_32_28-atom](https://cloud.githubusercontent.com/assets/55841/18765137/ab6e90b4-8114-11e6-8fe5-4aad8177bde5.png)

[2016-09-23 07:29] ghost opened #95 ""@media" sometimes change to "@""

[2016-09-23 09:29] thomasjo commented on #95
First of all this has been opened on the wrong repo; this repo is specific to https://atom.io, not the editor itself. That repo is found at https://github.com/atom/atom.

Second, there is no functionality in a standard Atom installation does what you describe, so your problem is caused by one of your installed packages. If you need help tracking down the culprit, check out [Discuss](https://discus

[2016-09-23 09:29] #95 closed, assigned to nobody

[2016-09-30 18:11] ashcrow opened #96 "Provide Information on GitHub Account Permissions"
The following stopped me from authorizing the login:

[code]

I know atom.io is run by GitHub but it would be nice to have an explanation around why it requires access to public and private teams and organizations (even being read-only).

[2016-09-30 19:29] winstliu commented on #96
/cc @lee-dohm

[2016-10-21 12:14] skull-squadron opened #97 "Website currently down"
https://uptime.com/atom.io

[2016-10-21 12:14] skull-squadron commented on #97
Looks like a heroku worker is stuck/failed/DoS'ed.

[2016-10-21 12:16] skull-squadron commented on #97
Up again, jiggity-jig.

[2016-10-21 12:17] skull-squadron commented on #97
Intermittent connectivity.

[2016-10-21 13:09] skull-squadron commented on #97
Seems up.

[2016-10-21 13:10] nathansobo commented on #97
Heroku is experiencing an [API outage](https://status.heroku.com/incidents/963) due to a DDOS which is the most likely culprit. It is preventing us from logging in to view logs, preventing further diagnosis. Let's give the Heroku engineers time to resolve the issue and see if Atom.io recovers. It may be intermittent in the meantime.

[2016-10-21 13:12] skull-squadron commented on #97
Grrr. Can't 4chan attack the GOP?

Thanks for the update.

[2016-10-21 13:14] skull-squadron commented on #97
Btw: might want to consider Fastly||CloudFlare as the FE to speed up the site, although it won't help Heroku (ec2).

[2016-10-22 07:48] #97 closed, assigned to nobody

[2016-10-25 20:03] MatthiasWinkelmann commented on #84
I created this Theme browser a while ago: [http://hyperthemes.matthi.coffee/](http://hyperthemes.matthi.coffee/). It's updated about once a week. Hope it's helpful.

[2016-11-02 05:59] chengzhangHu opened #98 "change install place"
can not redefine install place

[2016-11-02 07:21] Ben3eeE commented on #98
Assuming you are on Windows and want to install Atom in a specific directory. You can do this using [portable mode](http://flight-manual.atom.io/getting-started/sections/installing-atom/#portable-mode-for-windows)

[2016-11-02 07:21] #98 closed, assigned to nobody

[2016-11-05 06:05] ADTC opened #99 "Website has no CSS (the CSS file has 503 error)"
The entire atom.io website loads in ugly Times New Roman black text on white background with no CSS styling whatsoever. When I view source and visit the CSS link, I get a 503 error:

Is this permanent or is it just me?

[2016-11-05 06:43] sverweij commented on #99
Same here. All through yesterday & the evening before (GMT+1) on _packages_, _themes_ and _documentation_, but now the front page as well. Occurs in all browsers I've used (on OSX: safari 10.0.1, ff 49.0.2, chrome 54 and on android: chrome dev mobile). The console & network panel show errors for everything from fastly.net - but also CSP violations:

[code]

[2016-11-05 08:11] simurai commented on #99
Might be related to `http` vs `https` or subdomain?
- http://flight-manual.atom.io/
- http://blog.atom.io/
- http://electron.atom.io/

still work fine.

[2016-11-05 09:23] csvan opened #100 "Site is broken"
![screenshot from 2016-11-05 10-22-20](https://cloud.githubusercontent.com/assets/1127729/20029040/d5475e30-a341-11e6-97da-cc33c2977676.png)

[2016-11-05 09:23] csvan commented on #99
Confirming

![screenshot from 2016-11-05 10-22-20](https://cloud.githubusercontent.com/assets/1127729/20029041/e6695bc8-a341-11e6-8573-fc9a6e2578a9.png)

[2016-11-05 09:23] #100 closed, assigned to nobody

[2016-11-05 09:24] csvan commented on #100
Already reported, closing.

[2016-11-05 18:23] lee-dohm commented on #99
Our CDN has updated some DNS entries in the last 24 hours. At least one person has had luck with rebooting their home router, which I suspect caused their router to update with the latest DNS entries.

We're still investigating.

[2016-11-05 18:32] lee-dohm commented on #99
Another person was able to fix the issue by switching to using [Google Public DNS](https://developers.google.com/speed/public-dns/). So it would appear that this is related to the DNS changes and should resolve itself completely soon.

I'll leave this open for now to track things.

[2016-11-06 01:32] lee-dohm commented on #99
Is anyone still experiencing this problem?

[2016-11-06 04:46] A-Manning commented on #99
Yes, I still have this issue.

[2016-11-06 05:40] lee-dohm commented on #99
@A-Manning Have you tried flushing your DNS cache or switching to using Google Public DNS?

[2016-11-06 06:33] A-Manning commented on #99
yes, no effect

[2016-11-06 07:22] csvan commented on #99
Still an issue. I'm connecting via 4G so it has nothing to do with home router settings.

[2016-11-06 10:01] sverweij commented on #99
- Adding the Google's Public DNS resolves the problem for now.
- What did **not** help was resetting my router - upstream DNS (my provider's, my provider's provider, ...) probably don't have the correct entries yet either - if that is indeed the problem, because ...
- ... Google's DNS and my provider's both resolve to the **same** IP address (151.101.36.249:443). However, according to my browser's

[2016-11-06 10:10] bastilian commented on #99
@sverweij nice analysis! and interesting. Are you in Amsterdam too, because I am. So it may well be a regional problem either with our ISPs or Fastly.

[2016-11-06 10:36] sverweij commented on #99
@bastilian a.t.m. I'm in the neighbourhood of Amsterdam idd.

[2016-11-06 22:12] yustnip commented on #99
The same. Moscow.

[2016-11-06 22:33] A-Manning commented on #99
Same issue, I'm in Montreal

[2016-11-07 06:42] diracdeltafunk commented on #99
Copying my info from https://github.com/atom/atom/issues/13153:

I am experiencing this issue on Chrome Version 54.0.2840.87 m (64-bit) and Edge 38.14393.0.0. I'm using Windows 10 Pro N, Version 10.0.14393 Build 14393. The response I get in chrome for the CSS file is:

[code]

[2016-11-07 09:40] olamedia commented on #99
Note that i had cache-fra1231-FRA broken, not amsterdam

[2016-11-07 10:17] frdmn commented on #99
[code]

Broken for me as well (from Würzburg, Germany)

[2016-11-07 13:48] md-shah commented on #99
Still same broken page from India.

[2016-11-07 13:49] eHxBes commented on #99
Still broken over here, Montreal !

[2016-11-07 14:45] denqxotl commented on #99
When I connected to TX VPN everything is ok with styles, but when I try to visit it without VPN I have no styles (Lviv, Ukraine)

[2016-11-07 15:53] coliff commented on #99
https://atom.io/ still broken here for me in Osaka, Japan. I'm using Google's public DNS (8.8.8.8 and 8.8.4.4)

[2016-11-07 15:56] lee-dohm commented on #99
Thanks for the updates everyone. We're still looking into this.

[2016-11-08 00:50] CyberShadow commented on #99
Broken for me from Chișinău, Moldova. However, I don't get a TLS error - I get an infinite redirect loop ("The page isn’t redirecting properly").

Example request:

[code]

[2016-11-08 01:29] simurai commented on #99
Here a hacky temporary fix:

1. Install some kind of "user styles" extension. For example [this one](https://chrome.google.com/webstore/detail/user-css/okpjlejfhacmgjkmknjhadmkdbcldfcb) for Chrome.
2. Copy&Paste the following CSS (thanks [WayBackMachine](https://web.archive.org/web/20161031010053/https://atom.io/)):

[code]

Icons/images don't work, but at least you can browse the packages/themes

[2016-11-08 01:36] iolsen commented on #99
I think we may have fixed this, but none of us on the GitHub team were affected so I can't confirm. Are people now seeing atom.io load correctly?

[2016-11-08 01:37] CyberShadow commented on #99
Fixed for me!

[2016-11-08 01:38] simurai commented on #99
👍  Fixed for me too.. ( 🇯🇵  Japan)

[2016-11-08 01:56] md-shah commented on #99
Fixed 😃 (from India)

[2016-11-08 05:27] gbrayut commented on #99
Work here now too.

[2016-11-08 05:35] A-Manning commented on #99
Resolved.

[2016-11-08 05:57] csvan commented on #99
Working in Sweden.

[2016-11-08 06:08] yustnip commented on #99
Correct, Moscow.

[2016-11-08 06:35] ADTC commented on #99
It appears to be working for me now 😄 Tested from Asia.

PS: Shall I close this?

[2016-11-08 06:50] lee-dohm commented on #99
Thanks for the confirmations everyone! I'm going to close this since it appears to be working properly now :grinning:

[2016-11-08 06:50] #99 closed, assigned to nobody

[2016-11-15 21:37] dbkaplun opened #101 "Feature: "users who starred x also starred:""
When I am looking at a package or theme it would be nice to see other packages and themes that were starred by the same users.

[2016-11-17 12:45] idleberg opened #102 "Keep package stars in sync with GitHub stars"
I was always thinking, especially since Atom is developed by GitHub, why starring a package isn't synchronized with starring package repositories. Some people only star packages browsing the Atom website, others only star GitHub repositories. AFAIK, Atom packages can only be hosted on GitHub, so why not unify the rating system?

[2016-11-27 07:14] TigersWay commented on #9
Any news about this one? It's still quite a mess to find any relevant package, no sort and no keyword combination.
Thanks

[2016-12-01 20:42] buggsdummy opened #103 "Bash on Windows integration"
It'd be awesome to get this working with bash on windows. :)

[2016-12-02 19:41] thomasjo commented on #103
Looks like this has been opened on the wrong repo; this is specifically for https://atom.io.

[2016-12-02 19:41] #103 closed, assigned to nobody

[2016-12-17 14:13] lgeiger commented on #102
That's a great idea!

[2016-12-18 12:23] ghost commented on #34
I think this is a great idea and, in the spirit of [this post on reddit](https://www.reddit.com/r/Atom/comments/5iu5su/plea_for_more_generic_and_reusable_packages/), we could take this even one step further and add a way to display all Atom packages that expose services (or maybe allow packages to demarcate that they are solely intended for consumption by other packages).

There are quite a few pa

[2016-12-20 03:23] pertrai1 opened #104 "Show Current Version on Homepage"
Is it possible to show the latest version right under the Download button so a user will know what version it is that is being downloaded? Think this would be good for a user to know about.

[2016-12-21 19:53] mnquintana commented on #104
Thanks for the suggestion! This looks like a duplicate of https://github.com/atom/atom.io/issues/104 – closing this out in favor of that issue

[2016-12-21 19:53] #104 closed, assigned to nobody

[2016-12-28 16:47] Alhadis commented on #14
So, uh, I see this is still an issue...

<img width="759" alt="C'mon guys, seriously..." src="https://cloud.githubusercontent.com/assets/2346707/21526557/3f545aa6-cd79-11e6-8577-4c319abcea91.png">

This isn't exactly a trivial concern, particularly since it requires an entirely new release to be published just to fix a link if an author notices this too late.

[2016-12-29 20:50] jasongilman opened #105 "Unable to publish after recreating package repo"
I maintain several Atom packages and when trying to resolve a git problem I deleted and recreated the github repo https://github.com/jasongilman/proto-repl-sayid. I can no longer publish to the repo:

[code]

I thought if I unpublished and recreated it then that may resolve the issue but I can't unpublish it.

[code]

After googling I saw too late that deleting a repo connected to a package has ba

[2016-12-29 21:04] jasongilman commented on #105
This was fixed by @lee-dohm over slack.

[2016-12-29 21:04] #105 closed, assigned to nobody

[2017-01-05 12:55] thedaniel commented on #14
It sounds like a trivial concern to me, if you can just push a patch release in 2 seconds and fix it - the world isn't running out of version numbers quite yet. (nb: i don't work on this anymore, this is a civilian opinion)

[2017-01-06 03:49] Alhadis commented on #14
@thedaniel Some authors prefer to keep their package's release history clean and meaningful. Which means not having to cut a "patch" to work around a lazy oversight. Since this involves a permanent addition to a codebase's revision history, it isn't trivial if the author cares about clean version control.

This assumes a package author is even aware that an absolute URL needs to be used, instead o

[2017-01-10 09:48] twang2218 opened #106 "Is there a way to create an atom.io package mirror?"
People have hard time access atom.io from China, thanks to the GFW, most stuff on AWS or Github will blocked. It would be great that atom.io can have a server/CDN site inside China, or can be mirrorred, so people can access the atom packages from China.

Be able to have a local mirror also helps the corporation network case.

[2017-01-17 02:31] #82 closed, assigned to simurai

[2017-01-18 15:01] piascikj commented on #75
Was just inspecting my readme and found I needed this as well.

[2017-01-18 15:01] piascikj commented on #75
I'd be glad to implement it if granted read access to the repo.

[2017-01-19 07:07] ewirch opened #107 "Validate repository field in package.json"
I didn't find any reference on this. But since the `repository` field value from package.json is used as a link in Atom (package page, "Create issue" link), the protocol should be `http://` or `http://`. [git-grep](https://github.com/mizchi/atom-git-grep/) for example uses `git://github.com/mizchi/atom-git-grep` which leads to not working links in Atom.

The protocol of `repository` should be vali

[2017-01-26 17:47] mattstratton commented on #68
+1 This is occurring on https://atom.io/packages/linter-cookstyle as well. I have tried renaming `LICENSE` to `LICENSE.md` and that didn't seem to matter.

[2017-01-26 19:15] lee-dohm commented on #68
As I [stated above](https://github.com/atom/atom.io/issues/68#issuecomment-218235579), this isn't an issue with the name of the file, it is an intermittent website issue.

[2017-02-09 09:36] Kelendria opened #108 "Atom consistently quits responding when opening a specific file"
I have a file that is consistently crashing Atom. I've followed the flight manual, reset to factory defaults and even uninstalled, rebooted and reinstalled.  The crash log just says it couldn't start the dumper.

I've been working on this file in Atom for close to a year now but last night it just started crashing Atom for no apparent reason.  It's less than a 400k file and I've edited much larger

[2017-02-09 09:58] Ben3eeE commented on #108
Thanks for reaching out!

This repository is for the atom.io website not for the Atom editor. Please open a new issue in [atom/atom](https://github.com/atom/atom/issues) for the problem you are having and make sure to completely fill out the provided issue template.

[2017-02-09 09:58] #108 closed, assigned to nobody

[2017-02-09 10:00] Kelendria commented on #108
I thought I might be in the wrong place. Thanks!

[2017-02-11 02:49] dustinwilson opened #109 "Contact form attempts to impersonate sender's address"
The contact form sends emails with the From field set to the sender's address. This is problematic because of SPF, DKIM, and DMARC policies. I attempted to send an email yesterday with a request to remove an orphaned package in my atom.io profile which was then quarantined by google's servers because it was seen as spoofing my email.

The contact form should instead send the email from an atom.io

[2017-02-11 07:11] tterb commented on #84
An even simpler option would be to just take some of the primary colors used in the syntax-them and displayed them somewhere on the package card, just to give users an idea of if they're interested or not.
That way, it can save users a lot of time searching through syntax-themes that they aren't interested in, without requiring any major modifications to implement.

<img src="https://cloud.githubu

[2017-02-14 00:03] ce3a commented on #68
Same issues here https://atom.io/packages/language-dts

[2017-02-14 16:48] lee-dohm commented on #68
Ran the batch process to update all the packages. Everyone's license should be there now.

[2017-02-16 14:26] varemenos commented on #9
Tomorrow is the second anniversary of the original issue (the closed one from apm)

[2017-02-24 06:43] oldlam opened #110 "Star counter is not updating on star/unstar action"
a minor bug, was giving a star to a package on the package page,
star button status has been updated but not the star counter,
star counter is only updated after a page refresh.

[2017-02-25 07:42] escaton opened #111 "Searching packages doesn't work"
Neither from https://atom.io/packages nor from application
![default](https://cloud.githubusercontent.com/assets/2072871/23329305/73cc5c94-fb4f-11e6-90ac-1bc4f7b4cf14.png)

[2017-02-25 16:30] winstliu commented on #111
It looks like it's fine now.  If it's still not working please let us know.

[2017-02-25 16:30] #111 closed, assigned to nobody

[2017-02-28 19:17] skull-squadron opened #112 "Atom.io downloads are not working until Amazon S3 outage is resolved"
https://atom-installer.github.com/v1.14.4/atom-mac.zip?s=1488270996&ext=.zip on https://atom.io/

[code]

Also, this presents in the app with the following error:

[code]

[2017-02-28 19:18] skull-squadron commented on #112
~~**Temporary workaround:** Download from [github directly](https://github.com/atom/atom/releases).~~ Github also uses S3 US-EAST-1, so they're down too.

[2017-02-28 19:25] BinaryMuse commented on #112
This is due to [an S3 outage](https://status.aws.amazon.com/):

I'll leave this open for now (cc @lee-dohm) so others can find it until things are resolved.

[2017-02-28 19:26] skull-squadron commented on #112
Ah thanks.

[2017-02-28 20:19] danielesegato commented on #112
Do you have any temporary mirror / alternatives for downloading installers?

[2017-02-28 20:56] rsese commented on #112
I don't believe so, looks like there's an issue with this request though /cc https://github.com/atom/apm/issues/488.

[2017-02-28 21:39] BinaryMuse commented on #112
This should be resolved; only writes to S3 are still broken.

[2017-02-28 21:39] #112 closed, assigned to nobody

[2017-02-28 22:02] rsese commented on #112
Sorry just realized you were asking about installers not packages @danielesegato :bow:

[2017-03-01 02:25] skull-squadron commented on #112
All good now. AWS status page [was also out-of-date](https://news.ycombinator.com/item?id=13756922) because it depended upon S3 US-EAST-1 az. (Circular-dependency, whoops.)

[2017-03-03 19:06] joelterry opened #113 "TextEditorRegistry API doc is missing"
https://atom.io/docs/api/v1.14.4/TextEditorRegistry

[2017-03-07 19:04] JustParsa commented on #68
hi there! My package likewise seems to be having this issue https://atom.io/packages/atom-ember-component

[2017-03-07 19:04] JustParsa commented on #68
@lee-dohm ^

[2017-03-17 11:47] pixxx commented on #68
Can't this intermittent website issue get fixed?

[2017-03-17 20:09] AndreaGriffiths11 opened #114 "Optimizing the Atom.io title tag"
The title tag is a new visitor's first interaction with the brand when they find it in a search result—it should convey the most positive and accurate message possible.

We can bring up the ranking for the "Text Editor" term by optimizing the Atom.io title tag, something simple "Atom - The Hackable Text Editor" should improve our rankings. More visibility = more traffic, more users and consequentl

[2017-03-18 15:02] dabslants opened #115 "Uncaught TypeError: Cannot read property 'pigmentsViewProvider' of null"
Kept getting the error below whenever I clicked a button on my keyboard. disables all thrid-party plugins and still kept on getting this.

package.coffee:343 Uncaught TypeError: Cannot read property 'pigmentsViewProvider' of null

/usr/share/atom/resources/app.asar/src/package.js:543 Uncaught TypeError: Cannot read property 'pigmentsViewProvider' of null

[2017-03-18 15:09] dabslants commented on #115
Fixed this by disabling autocomplete-plus

[2017-03-18 15:17] #115 closed, assigned to nobody

[2017-03-24 20:59] #81 closed, assigned to simurai

[2017-03-24 21:00] jasonrudolph commented on #81
This should be resolved now. If you continue to notice any weirdness, please let us know. :bow:

[2017-03-24 21:01] bvanrijn commented on #81
Will do! Everything seems to be 👌 now.

[2017-04-02 12:36] alpha358 commented on #9
Is there any specific reason why sorted search is not implemented [here](https://atom.io/packages) ?

[2017-04-05 21:00] winstliu commented on #56
Looking at the list it's definitely different than it was a few months ago, so closing.

[2017-04-05 21:00] #56 closed

[2017-04-05 21:01] winstliu commented on #5
This is now fixed.

[2017-04-05 21:01] #5 closed

[2017-04-06 17:34] Arcanemagus commented on #83
These links are currently working, both for the v1.8.0 linked here and the current v1.15.0.

[2017-04-06 21:03] winstliu commented on #83
I meant the _code_ links, not the File link itself.  Those are still 404ing for v1.8.0.

[2017-04-06 21:08] Arcanemagus commented on #83
Ah, sorry for the spam!

[2017-04-12 03:03] felipecrp commented on #68
Same problem here. Package.json with license, github repository with license, but atom package page is missing license. Check https://atom.io/packages/highlight-cursor-line

[2017-04-13 02:37] felipecrp commented on #68
Problem solved today. I think atom package site have a delay to update license.

[2017-04-13 16:56] jasonrudolph commented on #93
We're already using Elasticsearch :innocent:, but perhaps there are opportunities to tune it to provide a better experience. Thanks for sharing these examples:

In this specific case, I think the issue has to do with the fact that Atom treats "soft wrap" as two words, not one. If you search for [`soft wrap`](https://atom.io/docs/api/search/v1.10.2?utf8=%E2%9C%93&q=soft+wrap) or [`soft-wrap`](https

[2017-04-14 00:10] jasonrudolph commented on #68
We've deployed some updates that should resolve the problem. As you publish a new package (or a new version of an existing package), [atom.io](https://atom.io) should correctly display your package's license. We've also backfilled the license info on [atom.io](https://atom.io) for all previously published packages. If you continue to observe this problem, please let us know. :bow:

[2017-04-14 00:10] #68 closed

[2017-04-14 00:18] iolsen commented on #56
I'll add that we realize this doesn't update often enough or in meaningful ways. We will improve it though it likely won't be super soon.

[2017-04-18 01:11] justinchristensen66 opened #116 "atom won't open from command line or from doc"
I get this message when I try to open atom from terminal or doc   **'LSOpenURLsWithRole() failed for the application /Users/justinchristensen66/Downloads/Atom.app with error -10810.'**   Everything was fine the other day and now this.  In the message that appears in  alert prompt:  '**Check with the developer to make sure Atom works with this version of macOS. You may need to reinstall the applica

[2017-04-18 01:17] winstliu commented on #116
Looks like a duplicate of https://github.com/atom/atom/issues/3093.  Make sure you are not running in tmux.

If you still wish to uninstall, the only thing to remember is that your `~/.atom` directory is persisted and you'll need to delete that separately (but if you do, all your settings and installed packages will be gone).

[2017-04-18 01:17] #116 closed, assigned to nobody

[2017-04-18 01:28] justinchristensen66 commented on #116
im not running in tmux its in Iterm but it also wont open from the doc. I'm
on a mac 10.12.4  If i have to uninstall, is the ~/.atom directory the only
directory I have to delete?  Thanks so much for your help.

On Mon, Apr 17, 2017 at 6:17 PM, Wliu <notifications@github.com> wrote:

[2017-04-18 01:38] winstliu commented on #116
That should be the only directory that you need to remove.  I can't think of any others.

[2017-04-18 01:46] justinchristensen66 commented on #116
Is removing it the best course of action?

On Mon, Apr 17, 2017 at 6:38 PM, Wliu <notifications@github.com> wrote:

[2017-04-18 01:50] winstliu commented on #116
I would temporarily rename it to `~/.atom-backup`.  That way, you don't lose everything and have a backup just in case.

[2017-04-18 17:46] jasonrudolph commented on #92
@johnfrenchxyz: Thanks for opening this issue. We've deployed some updates today to address two of the three items you described:

`<html lang="en">`

I'll keep this issue open until we can resolve the one remaining item:

If you observe any other accessibility concerns, please let us know.

[2017-04-18 19:19] jasonrudolph commented on #14
We've updated atom.io to support image tags that use relative URLs to point to image files in the package's repository. With this update, atom.io should render your README's images in the same way that github.com renders your README's images.

Note that atom.io caches the rendered READMEs for performance. Because of that, existing package READMEs with relative image URLs will still exibit this iss

[2017-04-18 19:19] #14 closed

[2017-04-19 04:35] Alhadis commented on #14
# **_THANK YOU!_**

[2017-04-20 20:06] jasonrudolph commented on #93
I think https://github.com/atom/atom.io/issues/93#issuecomment-293959656 explains the specific example you shared. In order for us to improve the search experience, we'll likely need a few more examples of places where the current search experience is failing to meet expectations. I don't think we'll be able to act on this issue until we have a few more examples to work with, so I'm going to close

[2017-04-20 20:06] #93 closed, assigned to nobody

[2017-04-21 14:31] TPXP commented on #93
Thank you for your explanation. I guess the search is only looking to descriptions as `soft wrap` returns results while `softwrap` doesn't. Maybe the search should also look for results in the name of the function, not only its description ?
Currently, it seems that typing the exact function name works : [getSoftWrapColumn](https://atom.io/docs/api/search/v1.10.2?utf8=%E2%9C%93&q=getSoftWrapColumn

[2017-05-01 12:34] ardavis opened #117 ""Search in Directory" is missing in Linux"
In my Red Hat Enterprise Linux 6 installation, there is no "Search in Directory" context menu. I see it on the Mac and Ubuntu though. Any idea what might be going on?

I do not have admin on this machine, I installed it with:

    ./script/build --install=/my/custom/path/to/atom

[2017-05-01 15:14] winstliu commented on #117
This is the issue repository for the https://atom.io _website_.  If you have a problem with Atom itself, you should be opening it on either atom/atom (if it's a core issue) or atom/\<package-name\> if it is a core package issue.
***
Thanks for taking the time to contribute!

We noticed that this is a duplicate of https://github.com/atom/find-and-replace/issues/887. You may want to subscribe there

[2017-05-01 15:14] #117 closed, assigned to nobody

[2017-05-11 05:25] winstliu commented on #31
I have Flash disabled by default and the token copied fine.  Seems like this has been fixed.

[2017-05-11 05:25] #31 closed

[2017-05-11 05:26] winstliu commented on #78
@liuderchi I'm closing this since it seems like the mechanism used for copying the token has been updated since then, but please feel free to comment here if it's still broken for you.

[2017-05-11 05:26] #78 closed

[2017-05-11 05:30] winstliu commented on #89
Looks like this got fixed for one occurrence, but it's still broken for the 17 others.

Fixed version I found Ctrl+F'ing through the minified CSS:
[code]

[2017-05-11 05:31] winstliu commented on #86
Unrelated to the https://atom.io website.  You may have meant to create this issue on [atom/snippets](https://github.com/atom/snippets) instead.

[2017-05-11 05:31] #86 closed, assigned to nobody

[2017-05-11 05:46] liuderchi commented on #78
Thank you @50Wliu it's working as expected right now.

[2017-05-11 12:56] jrial commented on #56
If I can throw in my 2 cents, it would be nice if that list were somehow customised based on how you use the editor. E.g. program a lot in C/C++, and more packages for those languages get shown.

On a fresh Atom, just a generic list of useful packages since there's nothing to base the suggestions on. But once the user installs some packages, the list should start showing more "related" packages, p

[2017-05-11 15:45] winstliu commented on #56
That would be super cool.  I guess related package keywords could also factor in.  Though...it would also probably take a lot of effort to implement :laughing:.

[2017-05-16 00:40] ghost opened #118 "API eagerly trims tag names specified to create new package versions"
Hello there,

I was directed here (instead of [atom/apm](https://github.com/atom/apm)) by @lee-dohm on the Atom Slack to report a possible bug in the Atom API.

Historically, I've been able to successfully publish Atom packages on apm using tags of the form `x.y.z` (i.e. semver, noting the absence of a `v` prefix). I would use the command `apm publish -t x.y.z` to accomplish this. However, it seem

[2017-05-16 00:54] winstliu commented on #118
/cc @jasonrudolph

[2017-05-16 14:26] jasonrudolph commented on #118
@miqid: Yes. Last month, we began enforcing the convention that the version number in `package.json` must agree with the version number in the Git tag, and the Git tag must use `v` as the prefix for the version number. In the example above, you can satisfy this convention by using `v0.3.1` as the tag name.

---

In case it helps, I'll try to provide some background on last month's change:

In gene

[2017-05-16 14:26] #118 closed, assigned to nobody

[2017-05-17 05:54] ghost commented on #118
@jasonrudolph, not a problem and thank you very much for providing a thorough explanation.

As an aside, despite the recommended `apm publish x.y.z` command to publish an Atom package, perhaps the documentation for `apm help publish` should be updated to indicate that explicit use of the `-t` or `--tag` flag expects the tag name to be of the format `vx.y.z` (in case somebody isn't aware of this co

[2017-05-17 13:03] BinaryMuse opened #119 "Improve GitHub microsite accessibility"
From https://github.com/atom/github/issues/832:

/cc @Muhnad who opened the original issue
/cc @jasonrudolph @simurai

[2017-05-17 15:26] winstliu commented on #118
Now that's an issue that should be filed on atom/apm :wink:.

[2017-05-19 04:15] jsejcksn opened #120 "Screenshot needs to be updated since changes to One dark UI"
It should to reflect [the new theme changes](https://github.com/atom/one-dark-ui/issues/198) which made some of us sad.

[2017-05-19 12:28] jasonrudolph commented on #119
@Muhnad: Thank you for bringing this to our attention. We've updated https://github.atom.io to address these issues. If you continue to notice any accessibility issues on https://github.atom.io, please let us know.

[2017-05-19 12:28] #119 closed, assigned to simurai

[2017-05-22 06:45] ericcornelissen opened #121 "Add custom styling for kbd tag"
It would be nice if atom.io added a custom CSS rule for the `<kbd>` tag. This could be similar to the Github Markdown styling for `<kbd>` tags and it could look something like this (I used the exact CSS from Github for this example):
![preview](https://cloud.githubusercontent.com/assets/3742559/26295485/68fc8bea-3eca-11e7-867f-972cc37f9f1d.jpg)

[2017-06-01 14:51] ashcrow commented on #96
@lee-dohm can you provide some info? 😄

[2017-06-01 15:40] lee-dohm commented on #96
We have the organizations and teams access in there so that the atom.io website can use it to determine if someone is on one of the Atom teams and can therefore admin the site.

[2017-06-01 15:40] #96 closed, assigned to nobody

[2017-06-06 02:40] simurai opened #122 "Broken font on mobile"
On mobile the font seems to be broken.

![image](https://cloud.githubusercontent.com/assets/378023/26811428/c25b3c52-4aac-11e7-9638-4bb17f9b8f56.png)

[2017-06-08 02:36] #122 closed, assigned to simurai

[2017-06-08 03:04] #120 closed, assigned to simurai

[2017-06-08 12:00] jasonrudolph opened #123 "Screenshot renders incorrectly on iPad"
Following the screenshot updates for https://github.com/atom/atom.io/issues/120, the screenshot seems to render correctly on various phone and desktop browsers that I've tested, but it's rendering incorrectly on the iPad. The following screenshot is from the current version of Chrome on an iPad running iOS 10:

![img_0527](https://user-images.githubusercontent.com/2988/26927562-6811a2ac-4c20-11e7-

[2017-06-08 21:36] jsejcksn commented on #123
I'm seeing the same problem on Chrome 59.0.3071.86 on Windows 10.

I notice that in the CSS, the class `screenshot-main` applied to that span has a WxH ratio matching the image, but the `background-size` property does not, and is causing it to be compressed along the y-axis.

[2017-06-09 02:00] #123 closed, assigned to nobody

[2017-06-09 02:02] simurai commented on #123
@jsejcksn Yes, right, the `background-size` didn't get updated. Should now be fixed: https://atom.io

[2017-06-09 22:25] RyanZim opened #124 "Link to GH repo from webpage"
I find it frustrating that there's no direct link between https://atom.io and https://github.com/atom/atom

Not sure where the link should be; possible locations:

- Top bar
- Fork me on Github corner banner
- Keep in touch section
- Bottom bar

[2017-06-09 22:30] BinaryMuse commented on #124
There's a small textual link under "Open source" on the bottom of the home page, but I agree there could be a more prominent and permanently accessible location for this.

/cc @simurai for feels/💭 s

[2017-06-14 16:30] calebmeyer opened #125 "Markdown for checkboxes is not rendered correctly"
My package, git-links, uses checkboxes for the roadmap. They render correctly on github, but not on atom.io:
![2017-06-14 11_29_06-](https://user-images.githubusercontent.com/3342777/27143672-c88c3768-50f4-11e7-907a-bdf0ec1ff3aa.png)
![2017-06-14 11_28_35-](https://user-images.githubusercontent.com/3342777/27143677-cb78b55a-50f4-11e7-9126-296e1e832d79.png)

[2017-06-15 01:53] #92 closed, assigned to nobody

[2017-06-15 02:00] simurai commented on #92
Color contrast got improved a bit. Still fails in some places though. Latest when a redesign comes around, color contrast should be part of the requirements.

PS. more accessibility improvements other than color contrast are still to come.

[2017-06-15 12:34] simurai commented on #124
How about

- a bit harder to miss "Fork on GitHub" button
- link to Atom org in "Keep in touch"

![screen shot 2017-06-15 at 9 19 23 pm](https://user-images.githubusercontent.com/378023/27181358-416268b0-5212-11e7-9f26-32d7bc68c82d.png)

[2017-06-15 14:05] RyanZim commented on #124
@simurai Perfect! :tada: :octocat:

[2017-06-15 23:43] caleb531 opened #126 "Atom Blog still served over HTTP (rather than HTTPS)"
Hi,

I noticed that the entire Atom Blog is still [served only over HTTP](http://blog.atom.io/). There *is* [an HTTPS version of the blog](https://blog.atom.io/), but no links elsewhere are pointing to it, and the HTTP blog doesn't redirect to the HTTPS blog. Since HTTPS is the way of the future, I highly recommend serving the blog only over HTTPS. Obviously, this would mean:

- Add 301 redirects

[2017-06-19 02:17] marlazinger200 commented on #123
1

[2017-06-19 02:18] marlazinger200 commented on #120
1

[2017-06-21 10:58] #124 closed, assigned to nobody

[2017-07-06 06:41] balandinodidonato opened #127 "Atom for GitHub"
## To reproduce
- Follow step one for setting up Atom with GitHub

## Expected
- The page [https://github.atom.io/login](https://github.atom.io/login) opens correctly

## Actual
- The page does not hope. Error message: _Oops! There was a problem._

[2017-07-08 20:27] winstliu commented on #127
@balandinodidonato what browser are you using?

[2017-07-09 05:06] rosslh opened #128 "Invalid security certificate"
Over the last couple weeks I've been getting an error on [atom.io](https://atom.io) & www.atom.io where I'm unable to connect because of invalid security certs. I've tested this from multiple devices on my home network (with [Bell](https://www.bell.ca/) in Toronto) and they all have the same issue. Interestingly, on cellular data the page loads just fine. I am not encountering these errors on [ato

[2017-07-09 16:00] rosslh commented on #128
Atom.io is working again for me this morning. I'll close this issue and reopen if the problem occurs again.

[2017-07-09 20:23] rosslh commented on #128
And I'm getting the issue again. Same cert error/default "it works!" page.

[2017-07-10 07:16] balandinodidonato commented on #127
@50Wliu Chrome

[2017-07-13 18:39] davestammer opened #129 "Stuck on full page mode,can not find a way out."
I uninstalled Atom, then reinstalled, then opened atom and its still stuck on full page mode.I have no
access to the menu bar that was in the top left corner.

[2017-07-13 20:46] winstliu commented on #129
Either <kbd>F11</kbd> or the `window:toggle-menu-bar` command.

[2017-07-13 20:46] #129 closed, assigned to nobody

[2017-07-16 09:31] Alhadis opened #130 "Markdown lists render incorrectly following a hard line-break"
I noticed a segment of the `file-icons` package's readme isn't [displaying correctly](https://atom.io/packages/file-icons#the-tree-view-keeps-opening-by-itself) on `atom.io`:

<img src="https://user-images.githubusercontent.com/2346707/28246374-d953039e-6a5b-11e7-91f7-e9f124bf6020.png" width="845" alt="Figure 1" />

On GitHub, however, [the list is rendered fine](https://github.com/file-icons/atom

[2017-07-17 16:13] #128 closed, assigned to nobody

[2017-07-17 18:49] jyn514 opened #131 "Dead link"
As discussed [here](https://github.com/atom/node-oniguruma/issues/68), there's a weird link on this page of the site: https://atom.github.io/node-oniguruma/. I'd like to submit a pull request, but I can't seem to find the right repository.

[2017-07-17 18:55] lee-dohm commented on #131
The content on that page is auto-generated from the atom/node-oniguruma README at https://github.com/atom/node-oniguruma. You can submit a PR on that repo :+1:

[2017-07-17 18:55] #131 closed, assigned to nobody

[2017-07-18 08:01] danieleloscozzese opened #132 "Links from the documentation index page to the Atom Flight Manual are HTTP rather than HTTPS"
Both links to [the Atom Flight Manual](https://flight-manual.atom.io/) from [the Atom Documentation page](https://atom.io/docs/) use HTTP, rather than HTTPS, and the Flight Manual doesn't redirect to HTTPS.
![insecure-link](https://user-images.githubusercontent.com/8526031/28306558-a4d9bdf0-6b97-11e7-8cd5-279e85e56cd8.png)

[2017-07-18 08:14] #132 closed, assigned to nobody

[2017-07-18 08:16] danieleloscozzese commented on #132
It looks like this is because the Flight Manual website isn't fully supporting HTTPS (even though upgrading the protocol will get the page over HTTPS).
This is referenced in [a commit to the Flight Manual repo in September 2016](https://github.com/atom/flight-manual.atom.io/commit/1e2afccf5b6acca2d1da944e73a2fe3ebb69f6bb).

[2017-08-23 06:23] tautf opened #133 "Can't authorize GitHub for Atom"
Hey,

when i Access https://github.atom.io/login and try to authroize Atom im recieving Oops! Something went wrong. somebody has an idea?

Running latest Atom Version on Win 7 Enterprise. Browser is IE.

Thank you

[2017-08-24 15:59] jasonrudolph commented on #133
Hi @FlorianTaut: Are you still able to reproduce this issue? If so, can you please reply with a specific date and time (including time zone) when you observed this issue? That info may help us get a better understanding of the problem.

[2017-08-31 08:47] tautf commented on #133
@jasonrudolph Hey, no im not.

I don't know where the issue was but when i tried to set a different browser as my Default it worked...

[2017-08-31 08:47] #133 closed, assigned to nobody

[2017-09-10 20:50] twifty opened #134 "Broken links within documentation"
The more I use the docs, the more frustrated I become due to the sheer number of broken/missing links.

For example, on the [https://atom.io/docs/api/v1.19.7/Point](https://atom.io/docs/api/v1.19.7/Point) page, none of the links point to the source code files. Clicking them leads to a 404. While this is one example, there are many many more broken links scattered throughout the docs.

From what I

[2017-09-10 22:01] winstliu commented on #134
For some reason the links are pointing to `v13.2.0-12`, which doesn't exist.  Only `v13.2.0-11` does.  This has happened before: atom/atom.io#83

[2017-09-13 06:32] sandeepskak opened #135 "Website doesn't load CSS"
Check the attached screenshots for details.
![atom](https://user-images.githubusercontent.com/8362676/30362840-67c716ea-987b-11e7-885e-192dafe386c1.PNG)

[2017-09-13 09:08] winstliu commented on #135
Looks like a temporary internet connectivity issue due to the `ERR_CONNECTION_TIMED_OUT` error.  If it still happens tomorrow please comment here and I'll reopen the issue.

[2017-09-13 09:08] #135 closed, assigned to nobody

[2017-09-17 10:09] jerone commented on #94
In an attempt to clean up my created issues that have not been processed or updated over (almost) a year, I'm closing this issue. If this issue is still relevant, please reopen another issue.

[2017-09-17 10:09] #94 closed, assigned to nobody

[2017-09-18 15:32] heinst opened #136 "`All Changes` in Release Notes should be hidden by default"
For [the Release Notes page](https://atom.io/releases), there is a Caret that is enabled by default that says `All Changes` but it doesn't do anything. I am assuming that all the PRs should be under this and hidden by default. Not how it is currently

[2017-09-18 16:25] BinaryMuse commented on #136
Hm, this appears to be a bug in however we're parsing the markdown data; as shown in this screenshot from the DOM inspector, the `details` tag does not fully surround the content like it does on https://github.com/atom/atom/releases.

![cursor_and_release_notes](https://user-images.githubusercontent.com/189606/30552567-45e2b6fc-9c53-11e7-8f49-a8b2762d60d2.png)

[2017-09-18 16:42] BinaryMuse commented on #136
Okay, after playing around with it, I found a reproduction case: add two newlines after the `</summary>` tag, e.g.

[code]

works but

[code]

does not.

[code]

/cc @jasonrudolph for 💭

[2017-09-19 13:00] jasonrudolph commented on #136
@heinst: Thanks for reporting this. :bow:

@BinaryMuse: Nice find. :zap: We have a handful of places where atom.io renders markdown differently than github.com. That almost always results in surprise and frustration :grimacing:, so I'd love to resolve those differences. /cc https://github.com/atom/atom.io/issues/121 https://github.com/atom/atom.io/issues/125 https://github.com/atom/atom.io/issues/

[2017-09-22 13:09] Progdrasil opened #137 "Package user reviews"
# Description

This is more of an enhancement request.
It would be nice to have a review system of packages, that way you can see the quality of the package other than just the number of times it was downloaded

[2017-09-22 19:19] Ben3eeE commented on #137
Thank you for reaching out!

Can you share some details about the review system you had in mind?

[2017-09-22 19:39] Progdrasil commented on #137
I was thinking of something similar to the review system for VSCode extensions, star (or atom) based system, where people can let other users know their experiences with the packages

[2017-09-23 03:57] yeshijinsel commented on #137
my atom package are not installing nor its show me packages

[2017-09-25 17:46] damieng opened #138 "Download counts by version"
Right now the download count is not a good indication of popularity or user base as every update increases the download count proportionally.

We should show download counts for the last 3 versions individually.

[2017-09-26 08:44] awhillas commented on #9
Christ guys, its 2017! We can give users the ability to sort searches by now. COME ON!

[2017-10-05 10:44] szimek opened #139 "Provide a better migration docs for Atom IDE"
The current docs on https://ide.atom.io are not very detailed. They only say to install `atom-ide-ui` and `ide-*` packages. However, there are some potentially confusing problems that are not addressed there.

After installing `atom-ide-ui`, Atom asked me to disable `linter` package and I did that. However, I still have `linter-ui-default` package enabled, should I disable it as well? Could it be

[2017-10-19 20:35] ElvarP opened #140 "https://atom.io/packages/toggler should have a install button"
Next to the repo button there should be a install button. It should be high contraxt so people can immediately see it.

I would make a pull request but the documentation doesn't point me to the website.

![image](https://user-images.githubusercontent.com/11872349/31792978-6038872a-b50d-11e7-96fe-26e386c9554b.png)

You would only need to add this line of css.

[code]

The html is pretty straightfor

[2017-10-19 21:18] winstliu commented on #140
We're slowly working on getting the necessary URI handler support integrated in Atom.  When all of that is done there will most likely be an "Install" button present on package pages.  Thanks for the feedback though!

[2017-10-19 21:18] #140 closed, assigned to nobody

[2017-10-20 13:46] Aitchy commented on #127
Just had the same with a new Windows 7 setup of GitHub Desktop & Atom.  I'm trying to clone my wiki repository and get told in Atom to visit the above link and generate an authentication token.

When I try this (IE11) iget the same error message.

Link is https://github.atom.io/auth/failure?message=csrf_detected&strategy=github_package

[2017-11-01 01:15] Ingramz opened #141 "Consider enabling compression for text-type responses"
As it turned out during the investigation in https://github.com/atom/settings-view/pull/1014, atom.io currently does not leverage any sort of content compression for its text type responses. It is possible that by enabling compression, especially slower connections can benefit from reduced loading times, thus improving website loading times overall and also speeding up API responses like the searc

[2017-11-09 10:07] DanielPintilei opened #142 "user-card image overflow"
I noticed a "glitch" which can be easily fixed with an `overflow: hidden` on the `<img>`

![user-card](https://user-images.githubusercontent.com/9828983/32599752-284dae46-c546-11e7-8e68-b537d7a1fee2.png)
![user-card-2](https://user-images.githubusercontent.com/9828983/32599753-286de968-c546-11e7-80e6-1557a2dd0265.png)

[2017-11-10 02:08] rsese commented on #142
Thanks for the report :+1:  Direct link:

https://atom.io/packages/loved-syntax/stargazers

[2017-11-15 17:52] Arcanemagus opened #143 "Preview text is far more than necessary"
When sending a link to http://blog.atom.io/2017/11/15/code-together-in-real-time-with-teletype-for-atom.html in Discord, the preview text generated is _far_ larger than it should be, encompasing the entire first section.

![image](https://user-images.githubusercontent.com/427137/32851724-a86483e0-c9ea-11e7-9b18-a5aac3d98359.png)

I'm not sure if this is a Discord issue, an issue with the blog setu

[2017-11-15 20:39] lee-dohm commented on #143
This content comes from the `meta` tags named `description` and `og:description`. (The best guide I've seen introducing how these is the [Slack guide on its "classic unfurling" strategy](https://api.slack.com/docs/message-link-unfurling#classic_unfurling).) You can see the content here:

<img width="1721" alt="screen shot 2017-11-15 at 12 34 16 pm" src="https://user-images.githubusercontent.com/10

[2017-11-16 12:28] ghost opened #144 "Facebook share button for the blog"
I share every post at https://www.facebook.com/groups/Atom.io/, we needs a Facebook share button like this https://developers.facebook.com/docs/plugins/share-button/

[2017-11-20 04:57] jsejcksn opened #145 "OAuth flow for discuss.atom.io connected to non-GitHub account"
During the signup flow at https://discuss.atom.io/, I am requested to share my information with the account [atom-bot](https://github.com/atom-bot), which is "not owned or operated by GitHub". This gives me a very strong sense of distrust about the use of my private information. Could this OAuth flow be improved by linking it to an official GitHub account?

<img width="800" alt="atom-discuss-oauth

[2017-11-20 17:38] jasonrudolph commented on #145
@jsejcksn: Thanks for reporting this. :bow: We're looking into a similar issue with the GitHub package (https://github.com/atom/github/issues/1048) and the Teletype package (https://github.com/atom/teletype/issues/219). I'm not sure how soon we'll be able to address these issues, but I agree that the current messaging is confusing, and these issues are definitely on our radar.

[2017-12-03 05:01] yubaoquan opened #147 "Link of Repository lost"
page: [Project](https://atom.io/docs/api/v1.22.1/Project#instance-repositoryForDirectory)
lost url: https://atom.io/docs/api/v1.22.1/Repository

[2017-12-17 15:46] anion155 commented on #135
Same happened to me today...
![screenshot from 2017-12-17 20-46-33](https://user-images.githubusercontent.com/4786672/34081179-6a1edc1c-e36b-11e7-9024-74a002ec8457.png)

[2017-12-18 15:57] tigerneil commented on #106
no response?

[2017-12-18 23:42] daylerees opened #148 "Multi-theme Packages"
Hi guys, I manage a project that's essentially 100+ syntax themes for a number of different editors and tools. In other editors, I've submitted the theme collection as single package to their plugin/repository system, so that people can install them all at once (and it seems people like to do it this way).

I've noticed that Atom has a format of one theme per repository. I have 100 atom themes rea

[2017-12-19 07:38] simurai commented on #148
The https://github.com/Alchiadus/base16-syntax theme includes many color schemes in a single Atom package/repo. It has some custom code that rewrites the variables on disk when a user switches color schemes.

[2018-01-01 07:56] SpillChek2 opened #149 "It wont issue an authentication token for my account"
Tried to authenticate my account with github, and keeps on giving an error message, I have the repo under my organization account called Creative WebMatrix Solutions I did grant it, but its not working, please can some one assist me with this matter?

[2018-01-02 19:52] jasonrudolph commented on #149
Thanks for getting in touch. I'll try to help.

What is the error message that you're seeing when you attempt to authenticate? Can you share a screenshot?

Can you please provide a link to the repository?

Can you tell us more about what you're trying to accomplish? For example, are you trying to publish an Atom package?

[2018-01-09 13:30] #141 closed, assigned to jasonrudolph

[2018-01-09 13:35] jasonrudolph commented on #141
Thanks for this suggestion. We've rolled out an update to atom.io to support compression for text-type responses.

Example: https://checkgzipcompression.com/?url=https%3A%2F%2Fatom.io%2F

If you observe any problems related to this change, please let us know. :bow:

[2018-01-09 16:51] Ingramz commented on #141
I am seeing a healthy speed boost of at least 50-100ms per request across the board. Thanks!

[2018-01-16 06:38] mukesh4601 opened #150 "Its Not Responsive in all devices"
![screenshot from 2018-01-16 12-06-27](https://user-images.githubusercontent.com/28723602/34975036-da2531ee-fab5-11e7-9394-e72ff4f366de.png)
Its not Responsive yet

[2018-01-17 14:53] jasonrudolph commented on #134
Thanks for reporting this issue. :bow:

**tl;dr** I think this issue is caused by an npm package version being published without a corresponding git tag being pushed to github.com. I've attempted to explain these findings below. There are three questions I hope to answer. I'm focusing on the first one for now, and then I'll circle back around to the other two.

- [x] Can we fix the broken links th

[2018-01-17 15:14] jasonrudolph commented on #134
https://github.com/atom/node-pathwatcher/commit/e92210438d3cf1f14c655acf1b748ffb4ff1d1e8 attempts to create a commit that we can tag as v6.2.5. The commit message describes the approach used to create the commit. Before creating that tag, I'd like to get a sanity check on the approach.

@maxbrunsfeld: Since you might already have some context on this issue due to me pinging you above about text-bu

[2018-01-17 15:30] winstliu commented on #134
@jasonrudolph it looks like atom/node-pathwatcher@e922104 accidentally removed the Coffeescript files.

[2018-01-17 15:56] jasonrudolph commented on #134
@50Wliu: Good catch!

The tarball on npm (https://registry.npmjs.org/pathwatcher/-/pathwatcher-6.2.5.tgz) doesn't include the CoffeeScript files. 🙁

I wonder if there's another way to track down the original commit that actually created pathwatcher 6.2.5. As far as I can tell, that commit (`8336f8d085d7edab7e7314ee394c2a990913860d`) was never pushed to github.com, and I'm not sure how to see who p

[2018-01-17 17:39] maxbrunsfeld commented on #134
:+1:

It looks like the link has been fixed ever since Atom 1.9.0, which came out a year and a half ago, and there have been over 20 releases since then, I think it is probably ok to leave this as is.

[2018-01-17 17:46] maxbrunsfeld commented on #134
The `text-buffer` case occurred because I accidentally left Atom's `text-buffer` dependency pointing at a prerelease version of `text-buffer` after merging some `atom/text-buffer` pair of PRs. I have a habit of *not* running `git push --tags` when creating pre-releases of npm modules because I create a ton of these prereleases and I felt like all of the prerelease tags add a bunch of undesired aut

[2018-01-17 18:47] jasonrudolph commented on #134
Thanks, @maxbrunsfeld. I created that tag (https://github.com/atom/text-buffer/releases/tag/v13.2.0-12) and that fixes the broken links in the [Atom 1.19.7 docs](https://atom.io/docs/api/v1.19.7/Point) that point to the text-buffer source code.

Fair enough. I'll treat the [Atom 1.8.0 broken doc links](https://github.com/atom/atom.io/issues/83) as `wontfix`, and I'll instead focus on how to preven

[2018-01-17 18:55] jasonrudolph commented on #83
In https://github.com/atom/atom.io/issues/134, I [looked into](https://github.com/atom/atom.io/issues/134#issuecomment-358328461) fixing the broken links in Atom 1.8.0's docs, but it doesn't look like we have a viable solution. Please see that thread if you're interested in more details. 😅

The good news is that these [links are fixed in the Atom 1.9.0 docs](https://atom.io/docs/api/v1.9.0/File).

[2018-01-17 18:55] #83 closed, assigned to nobody

[2018-01-17 22:19] jasonrudolph commented on #134
I ran [linkchecker](https://github.com/linkcheck/linkchecker) against the docs for the latest stable release (https://atom.io/docs/api/v1.23.3). It identified broken links for the following URLs:

https://github.com/atom/atom-keymap/blob/v8.2.8/src/keymap-manager.coffee
https://atom.io/docs/api/v1.23.3/Atom
https://atom.io/docs/api/v1.23.3/Cursors
https://atom.io/docs/api/v1.23.3/DisplayLayer
http

[2018-01-17 23:33] winstliu commented on #134
I don't know why the KeymapManager URLs are 404ing but I went and fixed some of the other broken URLs:
https://github.com/atom/atom-keymap/commit/33b95c1cfc8bb8da13420a1bba930c135b1b6e08
https://github.com/atom/atom-keymap/commit/44bd04bd9897ce7b98a23a9a32fab121972c9c80
https://github.com/atom/atom/commit/1e1884ef27004e27abfdfb49039d73d59918ef55 fixes Cursors
https://github.com/atom/atom/commit/a9

[2018-01-18 17:01] jasonrudolph commented on #134
@50Wliu: It was due to the same problem we saw with text-buffer above: atom-keymap 8.2.8 was published to npm, but there was no corresponding git tag for atom-keymap 8.2.8. I tracked down the SHA associated with atom-keymap 8.2.8 and tagged it as v8.2.8. Those URLs are no longer 404ing. :sweat_smile:

@50Wliu: Thank you! :zap:

@50Wliu: Thanks for confirming that.

I built Atom from master (at htt

[2018-01-23 17:07] jasonrudolph commented on #134
Whoops. This got automatically closed due to the content of the pull request body in  atom/atom#16617:

[2018-01-23 21:16] jasonrudolph commented on #134
@50Wliu: Both the `master` branch and the `1.24-releases` branch (https://github.com/atom/atom/compare/608d3af2d45dba94dadb98394d1334519a9e512e...6567653418a5a3ecccea28a7010042c02d92ae87) now include these fixes. As a result, they'll be included in the upcoming Atom 1.24 release.

Thanks again for these updates! :zap:

[2018-01-23 21:48] jasonrudolph commented on #134
With @50Wliu's fixes above and with the latest improvements to atom.io, I anticipate that all the broken links will be fixed when the docs are published for the upcoming 1.24 release. With that in mind, I'm going to close this issue.

If you continue to see any broken links in the 1.24 release (or in future releases), please let us know. :bow:

[2018-01-23 21:48] #134 closed, assigned to jasonrudolph

[2018-01-31 00:13] ckerr opened #151 "atom.io's Linux download links don't show versions"
When mouse over the "Download .deb" and "Download .rpm" links on `https://atom.io/`, the filenames are `atom-amd64.deb` and `atom.x64_64.rpm`. This, along with "1.23.3" not being on the landing page, makes it difficult to quickly tell what version of Atom you're getting.

Better would be for the mouseover link + download filename to both include a version, e.g. `atom-1.23.2-amd64.deb`.

[2018-01-31 17:05] ungb commented on #151
This is an issue with all platforms.

[2018-01-31 17:06] ungb commented on #151
here's where all the binaries are at https://github.com/atom/atom/releases

[2018-02-03 00:22] SpillChek2 commented on #149
Oh hi @jasonrudolph, no Thank you for reaching out!
It's all good, I was having a hard time getting started, its all under control now!

[2018-02-03 00:22] #149 closed, assigned to nobody

[2018-02-05 20:41] jasonrudolph commented on #151
/cc @simurai (since we've explored some atom.io design updates that would display the current version number)

[2018-02-06 02:18] simurai commented on #151
👍  Yeah, the idea is to show the current version on the atom.io site next to the "Download" button.

[2018-02-07 06:33] tweakimp commented on #9
This is such a needed feature and rather easy to implement, the code is already there, just put it on the search results page and in the atom editor, too.

[2018-02-07 10:38] jt3k commented on #9
It seems that the sorting of results is not included in their plans to introduce a paid opportunity to hit the top

[2018-02-13 10:02] JiElPe-Fr38 commented on #127
Dear All,

I have the same problem with Firefox 58.02 on Windows 7 SP1.
**Finally it works**... _but only if I am not already connected to my gitHub repository on a Firefox tab_.

[2018-02-13 23:58] rsese commented on #127
Can you reproduce in another browser like the latest release Chrome @JiElPe-Fr38?

Just to clarify, do you mean that you can only avoid the error if you're already logged into your GitHub account?

[2018-02-25 06:35] piascikj commented on #42
@thedaniel any chance this might get a higher priority?

[2018-02-25 06:35] cori commented on #75
This actually looks like a duplicate of #42 (ha!).

[2018-02-27 13:28] thedaniel commented on #42
@piascikj I don't work on this anymore, sorry.

[2018-02-27 18:19] piascikj commented on #42
@thedaniel Thanks for responding.  Do you know who might be able to respond?

[2018-03-02 02:22] rsese commented on #42
I asked the team about this one @piascikj, the issue wasn't on our radar since it's from a while ago.  But it's now been added to the backlog of work for the team to take a look but in general we can't make any promises about when it might get resolved.

[2018-03-02 06:20] piascikj commented on #42
Thanks @rsese!  Just curious, How do you prioritize bugs like this?

[2018-03-07 07:31] rsese commented on #42
You can see what the team is working on each week here:

https://github.com/atom/atom/tree/master/docs/focus

So in general after that, there's not much time left over since the team is small - so for things that don't fall under this work, we tend to concentrate on things like regressions and other relatively severe issues.  Then anything that ends up in our backlog is work we'd like to get to bu

[2018-03-07 16:07] piascikj commented on #42
Thanks @rsese.  That's helpful.  I like the approach of keeping the plan in the repo!  Have you tried [imdone-atom](https://atom.io/packages/imdone-atom)?  It could help the team track these items.

[2018-03-09 04:01] rsese commented on #42
We haven't, thanks for the suggestion 👍   Just using the repo for those weekly plans is working ok for us so far so we'll stick with that for now.

[2018-03-15 23:06] dessant opened #152 "Wrong front page layout in Firefox"
The new site has a layout issue in Firefox 59, tested on Ubuntu.

![screenshot from 2018-03-16 01-02-51](https://user-images.githubusercontent.com/7513068/37495480-2a135b26-28b6-11e8-96ef-eeb1b1f92d93.png)

[2018-03-15 23:43] rsese commented on #152
I see the same thing on Ubuntu 16.04 and the same version of Firefox (looks ok in Chrome) /cc @simurai 🎨

Looks ok on macOS 10.12.6 and Windows 10.

[2018-03-16 05:21] simurai commented on #152
Based on the screenshot, might be a bug or no support for flexbox?

@dessant If you resize the browser, does it look ok? The layout changes based on window size.

[2018-03-16 06:06] dessant commented on #152
The download widget stays below the circle regardless of the viewport width.

[2018-03-16 14:10] thomasjo commented on #152
@rsese Did you test with Firefox 59 on those platforms?

I was able to reproduce with Firefox 59 on Ubuntu 17.10. Something weird going on, since the layout is being affected more by viewport height than viewport width (although that could stem from the CSS rules, which I haven't looked at yet).

[2018-03-16 19:39] rsese commented on #152
Sorry yes should have mentioned - Firefox 59 on both platforms 👍

[2018-03-20 15:55] haacked opened #153 "Add an Install button on a package page"
Atom has support for installing packages via a URL handler.

`atom://settings-view/show-package?package=PACKAGENAME`

That support has been out for a while now. It is probably a good time to add an install button on atom.io when listing a package.

Today, the page for a package will list multiple ways to install it. For most people, it'd be simpler to just give them a link to click to launch Atom

[2018-03-21 05:16] BinaryMuse commented on #153
Also relevant: https://github.com/atom/atom/issues/16532

[2018-03-27 05:52] simurai commented on #153
There is already a "View in Atom" button:

![screen shot 2018-03-27 at 2 46 39 pm](https://user-images.githubusercontent.com/378023/37949092-1b08a2be-31ce-11e8-9063-b0de35c52941.png)

But it's probably easy to miss. Maybe we can move it out of the row with the other buttons and also add a color. So it will look more like "this is the most important thing on the page".

[2018-03-27 15:51] haacked commented on #153
I just picked a package at random and don't see that button.

![image](https://user-images.githubusercontent.com/19977/37978888-f8fb19ae-319b-11e8-8fbc-b80a35692711.png)

[2018-03-27 16:41] Arcanemagus commented on #153
That button definitely isn't on the live site at least...

[2018-03-27 16:56] BinaryMuse commented on #153
It's staff shipped https://github.com/github/atom.io/pull/1199

[2018-03-27 16:57] BinaryMuse commented on #153
(Where "staff" means something totally different than usual 😅)

[2018-03-27 18:04] haacked commented on #153
I do think "View in Atom" is a bit unclear. When I see that, I think "Why would I want to view it in Atom?" It's not immediately clear that's how I would install it.

If someone is visiting a package page, chances are the task they want to accomplish is to install the package. That's why I think the page should make that prominent. It helps people accomplish the task at hand.

[2018-03-28 03:34] simurai commented on #153
Ohh.. you mean it's hard-coded to certain usernames? Ooops, sorry for leaking that. :speak_no_evil:

Yeah, I agree. Here a mockup with an "Install" button. When clicked, it would open Atom and show the package:

![screen shot 2018-03-28 at 12 19 09 pm](https://user-images.githubusercontent.com/378023/38007061-944ca7f6-3282-11e8-9244-e7e7c08fdcd8.png)

Is that too misleading or confusing? People mi

[2018-03-28 18:16] haacked commented on #153
I don't think so. It's a good first step. There's always room to iterate on the experience.

One way to make it more clear is to use the ellipses convention on the Install button to indicate that it's taking you somewhere to install the package.

`[Install...]`

Also, what happens if you click that link and Atom isn't installed? It may make sense to use the approach Jason Long did here: https://gi

[2018-03-30 00:56] simurai commented on #153
💯 That's nice way of keeping it simple, plus have an explanation and fallback for edge cases. 😍

[2018-04-01 03:47] twifty opened #154 "Broken links in documentation"
I cannot reopen #134 so this a new report.

Almost all 'view source' links in the docs, for latest version (v1.25.0), are broken and result in 404's.

Prime examples are `TextEditor` and `AtomEnvironment`.

[2018-04-01 13:56] smashwilson commented on #154
D'oh! Thanks for the heads-up. I just rebuilt the docs and pushed them live with a fix :smile:

[2018-04-01 13:56] #154 closed, assigned to nobody

[2018-04-20 17:46] Fehintibaby opened #155 "ATOM CRASH"
ATOM keeps crashing and asks me to reload, or keep open. What can I do?

[2018-04-20 17:53] Arcanemagus commented on #155
Thanks very much for the report!

Would you mind reopening this issue in the https://github.com/atom/atom repository, including completely filling out the template? We use multiple repositories to keep the work items tied to the code they apply to. This helps the maintainers spend more time working directly on Atom and less time triaging issues.

Thanks for meeting us halfway :+1:

[2018-04-20 17:53] #155 closed, assigned to nobody

[2018-04-24 06:44] re1 opened #156 "Colored screenshots look weird"
First things first: I love the new design and its well picked colours. The only thing that bothers me (and maybe others) are the screenshot overlays. The colour scheme used in the editor already matches your websites so I do not think a multiply layer is required.

![image](https://user-images.githubusercontent.com/10999017/39170275-33d30b8a-479b-11e8-9028-b452709a0901.png)
![image](https://user-i

[2018-05-06 10:49] Powell-v2 opened #157 "Several items on a grid are a bit off"
Would look nicer if straightened out 😀

<img width="1075" alt="screen shot 2018-05-06 at 12 44 06" src="https://user-images.githubusercontent.com/25308326/39672517-add71892-512b-11e8-9018-f1bb6fdb8f6f.png">
<img width="1071" alt="screen shot 2018-05-06 at 12 44 17" src="https://user-images.githubusercontent.com/25308326/39672518-adf045d8-512b-11e8-95d2-4cb5fd5c3e13.png">

[2018-05-07 07:09] #157 closed, assigned to nobody

[2018-05-07 07:11] simurai commented on #157
👍 Let's use CSS grid. And single column as fallback.

[2018-05-07 11:33] Subh0m0y opened #158 "Text gets cut off due to width constraints."
![Text cut off](https://user-images.githubusercontent.com/11086749/39699667-cb5637f8-5217-11e8-842f-791952f8d1ec.png)

Notice how the right columns have their extreme right edges cut off the text weirdly. I suppose it's a rendering problem?

Chrome - Version 66.0.3359.139 (Official Build) (64-bit)

[2018-05-07 13:54] jasonrudolph commented on #158
Thanks for the report, @Subh0m0y. :bow:

@simurai: When you have a moment, can you look into this?

[2018-05-07 16:27] Arcanemagus commented on #158
@pe.lallemant in #atom:

[2018-05-08 00:27] simurai commented on #158
It seems using the `fr` unit like `grid-template-columns: 1fr 1fr`, automatically takes the `grid-gap` into account. Should be fixed now.

@Subh0m0y Thanks for noticing. 🙇

[2018-05-08 00:28] #158 closed, assigned to nobody

[2018-05-23 16:32] ssorallen commented on #27
This appears to be fixed:
<img width="307" alt="screen shot 2018-05-24 at 12 31 35 am" src="https://user-images.githubusercontent.com/29612/40438129-db20fe28-5ee9-11e8-98cd-61dbef2d69c2.png">

[2018-05-23 16:32] #27 closed

[2018-05-23 16:46] Arcanemagus commented on #27
This was fixed in https://github.com/atom/atomdoc/pull/16, thanks for noticing and closing your issue!

[2018-06-22 11:26] edwardnorth3 opened #159 "Cannot Receive Token for Atom"
When trying to authenticate my github account in atom, it takes me to the github, but it says, "Oops! There was a problem."

[2018-06-22 16:49] rsese commented on #127
Thanks again for your issue!

We haven't received a response to our question in this comment https://github.com/atom/atom.io/issues/127#issuecomment-365447384. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2018-06-22 16:49] #127 closed, assigned to nobody

[2018-06-22 16:49] rsese commented on #159
Thanks for the report - which browser are you using?  Also, can you reproduce the problem in multiple browsers?

x-ref: https://github.com/atom/atom.io/issues/127

[2018-06-29 13:10] edwardnorth3 commented on #159
It takes me to internet explorer when I click on it. I ended up having to type the link into chrome to get it to work right, bit it seems like I should be able to just right click on the link and pick where to go. I know it's only a minor inconvenience, but it is nonetheless bothersome.

[2018-07-07 00:19] jessexknight opened #160 "README: support "Task Lists""
GitHub README markdown flavour supports a nice syntax for rendering checkbox lists called "[Task Lists](https://help.github.com/articles/basic-writing-and-formatting-syntax/#task-lists)"

Is it possible to support this also for Package Pages? ... since they copy the README from GitHub repo.

Better yet, maybe: is it possible to synchronize GitHub README Markdown flavor with the Package Pages rende

[2018-07-07 00:22] winstliu commented on #160
Thanks for taking the time to contribute!

We noticed that this is a duplicate of #125. You may want to subscribe there for updates.

Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close duplicates to focus our work and not have to touch the same chunk of code for the same reason multiple times. This is

[2018-07-07 00:22] #160 closed, assigned to nobody

[2018-07-07 00:30] jessexknight commented on #160
Sorry about that! I did try to look for existing duplicates - apparently not very hard...

[2018-07-07 02:05] winstliu commented on #160
No problem - sometimes it's hard to find a duplicate unless you've seen it before :).

[2018-07-12 23:35] rsese commented on #159
Thanks @edwardnorth3 - what version of Internet Explorer is that and what version of Windows are you running?

[2018-07-25 23:50] winstliu commented on #59
It's present now.
![atom-io-latest-release](https://user-images.githubusercontent.com/2766036/43233432-22fadf5a-9033-11e8-9a04-085db90eed0a.png)

[2018-07-25 23:50] #59 closed

[2018-07-26 14:13] iraizo opened #161 "changing login credentials"
Today i changed my github name and now i cant push updates since the login credentials are outdated any way to update them?

[2018-07-26 18:58] rsese commented on #161
Thanks for reaching out - just to clarify, when you say "can't push updates", do you mean that you're having trouble pushing commits using the [GitHub package](https://github.com/atom/github/)?

[2018-07-27 20:10] cldavis3burnsmcd opened #162 "I need a token."
Atom/GitHub will not give me token

[2018-07-27 23:03] rsese commented on #162
Thanks for the report!  Can you share more details?  E.g. can you share steps to reproduce the behavior you're seeing?  Are you getting an error of some kind?   If you can share a screenshot of what you see, that might help as well.

Lastly, please share what version of Atom you're running (`atom -v`) and what operating system.

[2018-07-30 10:26] iraizo commented on #161
yes

[2018-07-31 03:40] rsese commented on #161
This issue was moved to atom/github#1621

[2018-07-31 03:40] #161 closed, assigned to nobody

[2018-08-04 20:53] fdedraco opened #163 "apm cannot download module"
i need to change the url from www.atom.io to atom.io (notice that there's no www) how do i do that?

[2018-08-06 21:22] rsese commented on #163
Thanks for reaching out - can you share more details about the issue?  What are you trying to install with apm?  Can you share the exact command you're running?  And why do you need to change the URL?

Any other information about what you're trying to do and why would be super helpful.

[2018-08-10 06:52] fdedraco commented on #163
my dns is government/ isp locked and cannot resolve www.atom.io into atom.io hence cannot download the packages from the website. apm cannot reach the server that way.

[2018-08-14 08:57] Aerijo commented on #88
Yup, not good. It would also help if there was a red banner at the top of the outdated API pages saying they're outdated.

[2018-08-16 00:00] rsese commented on #163
Ahhh gotcha - there's no setting in apm that will let you do this as far as I know.   If it's an issue with your ISP perhaps you can use alternate DNS or temporarily connect to another provider if you need to install packages (I know it's not ideal)?

Going to close this out since I don't believe it's actionable on our end but let me know if I mis-understood anything.

[2018-08-16 00:00] #163 closed, assigned to nobody

[2018-08-20 14:25] tambry opened #164 "Use newer CDN endpoint"
Currently `github-atom-io-herokuapp-com.global.ssl.fastly.net` is used to serve static resources. Simply changing it to `github-atom-io-herokuapp-com.freetls.fastly.net` would enable HTTP/2 and IPv6, with no extra work required. See [Fastly Free TLS documentation](https://docs.fastly.com/guides/securing-communications/setting-up-free-tls#support-for-http2-ipv6-and-tls-12).

[2018-08-21 05:40] simurai commented on #88
Maybe some sort of "if not `latest`, add `<meta name=”robots” content=”noindex”>`" might help?

It's probably also bad for SEO to keep changing the URL with each new version? I guess good to have a permanent link.

[2018-08-23 00:48] tilda opened #165 "Atom OAuth application is labeled as 'Not owned or operated by GitHub'"
While authenticating with atom.io, I noticed that the app wasn't labeled as owned by GitHub. Shouldn't this one be marked as made by GitHub?

[2018-08-23 02:40] lee-dohm commented on #165
That's a fair point. I'm not sure what can be done about it right away but it is something that I'll investigate.

## Steps to reproduce

1. Navigate to https://github.com/settings/applications
1. Find `Atom.io` in the list
1. Click the "Revoke" button
1. Click the "I understand, revoke access" button on the dialog that appears
1. Navigate to https://atom.io
1. Click the sign out button (the "exit

[2018-08-23 16:11] lee-dohm commented on #165
This is a duplicate of #145 and https://github.com/atom/github/issues/1048. Since there is already an issue tracking this for this repo, I'm going to close this one.  As I said above, it isn't something that we have a great solution for right now but it is something that we would like to fix longer-term.

[2018-08-23 16:11] #165 closed, assigned to nobody

[2018-08-24 04:05] fdedraco commented on #163
so, should i post "bug" at apm repo? because the hardcoded url doesn't match?
thanks for the reply

[2018-09-10 18:30] queerviolet commented on #164
I tried this out and it looks good. Great suggestion, thanks! 👍🏽

[2018-09-10 19:03] jaredhirsch opened #166 "Busted icons on atom.io website"
Howdy! Noticed some funky-looking icons on the token download page, and it turns out they are visible on the homepage, too.

On https://atom.io, I see this on the far right side of the header:

Firefox:  <img width="107" alt="screen shot 2018-09-10 at 11 59 36 am" src="https://user-images.githubusercontent.com/96396/45318208-0b082000-b4f1-11e8-9d2a-095290559f75.png">

Chrome: <img width="90" alt="

[2018-09-10 20:19] winstliu commented on #166
Confirmed.  @queerviolet this is caused by #164.
![image](https://user-images.githubusercontent.com/2766036/45322098-4288c380-b515-11e8-83ab-4cc6251cc705.png)

[2018-09-11 05:25] tambry commented on #166
My guess is this was because the CDN URLs were updated only in the HTML and not also in the CSS, and worked initially, because the CSP didn't apply.

[2018-09-11 17:19] queerviolet commented on #166
Investigated this a bit yesterday and couldn't find where the old CDN url was lurking. Rolled back, will investigate more today.

[2018-09-11 20:21] lee-dohm commented on #166
Since this is fixed and there is another issue tracking the work, I'm going to close this. Thanks for reporting the problem! :bow:

[2018-09-11 20:21] #166 closed, assigned to queerviolet

[2018-09-13 05:57] zypA13510 opened #167 "Documentation on code spans in config schema"
Although I can infer from the markdown syntax that code spans are quoted by backticks `` ` ``, but the documentation [here](https://atom.io/docs/api/v1.30.0/Config#title-and-description) really confused me.

Why do we have this

instead of this?
`code spans` - `` `code spans` ``

Btw, I can't seem to find the source code of documentation anywhere.

[2018-09-13 06:00] Aerijo commented on #167
@zypA13510 I believe that's 'just' the markdown generator making a mistake. The source for that is [here](https://github.com/atom/atom/blob/5479e1c78989b9a5a79bed9780b7b58b1461afa1/src/config.js#L314), and they are clearly trying to put in escaped back ticks like you suggest. It's still an issue, just a different reason.

[2018-09-13 06:05] zypA13510 commented on #167
@Aerijo No, I think maybe they made a mistake here?

`code spans` - `\`code spans\``

`code spans` - `` `code spans` ``

You mentioned that the documentation is generated from the source? So if I make a PR fixing that and the doc will be fixed too?

[2018-09-13 06:08] Aerijo commented on #167
I meant that the backslashes seem to be to escape the `` ` ``, but you're right that that's not how GFM markdown works.

I believe a PR would fix it, but I don't know how to run the generator to check. It could be they are using one that doesn't support arbitrary backticks starting code snippets.

[2018-09-13 16:48] Arcanemagus commented on #167
The source is parsed with [joanna](https://github.com/atom/joanna) and that metadata is turned into an intermediate format with [tello](https://github.com/atom/tello) that then gets turned into the final documentation with [atomdoc](https://github.com/atom/atomdoc).

It's... complicated to debug, however I made it quite a bit simpler when I added the [`--generate-api-docs`](https://github.com/atom

[2018-09-13 19:17] queerviolet commented on #164
Okay, I haven't been able to track down why the octicon font is still being served from `global.ssl`, rather than `freetls`. I have a vague sense that it might be a cache somewhere along the way and we'll see those requests stop eventually. In any case, I just added `global.ssl` to the CSP and now this looks good.

[2018-09-13 19:17] #164 closed, assigned to queerviolet

[2018-09-14 04:43] tambry commented on #164
I'm seeing those resources from `global.ssl` being loaded from this CSS file:
[code]
For example:
[code]

[2018-09-14 11:16] sandros94 opened #168 "Large files will not show text but I can copy it."
Hi, I'm in need to check the ending lines of some large files (600-700MB mostly sql), atom is super quick in opening them but around line 1.5M the text just disappear, if I try to select it and copy-paste somewhere else it lets me do it, but still it doesn't let me see it in the original file. Is this a bug or just atom that is not able to load at gui level all that text? I'm use to do it on Notep

[2018-09-14 19:50] Arcanemagus commented on #168
Thanks for taking the time to contribute!

We noticed that this is a duplicate of https://github.com/atom/atom/issues/16591. You may want to subscribe there for updates.

Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close duplicates to focus our work and not have to touch the same chunk of code for the

[2018-09-14 19:50] #168 closed, assigned to nobody

[2018-09-17 18:11] #167 closed, assigned to nobody

[2018-09-19 22:14] greenisagoodcolor opened #169 "Can't get a token"
![atom](https://user-images.githubusercontent.com/7354163/45784715-9f276500-bc1e-11e8-808c-812bfa0f5b86.png)

I am trying to get a token to authenticate my atom, except it won't grant it to me. I am logged in github when I request. I am using archlinux/kde

[2018-10-08 07:04] ghost opened #170 "Hamburger menu on mobile doesn't work as expected"
When using the website on a mobile device, the hamburger menu doesn't work as expected.

Clicking on the menu icon will open it but clicking again on the menu icon won't close it. In order to close it, you need to tap somewhere else.

Is it intended?

##### Device

Xiaomi Redmi Note 4
MIUI 10 / Chrome 69 / Android 7

[2018-10-13 17:28] mauricioszabo commented on #6
Years ago this issue was created, and still not fixed. I also am trying to push a version of my package (it's a ClojureScript package, so I prefer to leave a separate branch for compiled JS version) and found this issue.

Just a "wontfix" would be better than keeping it open, so we'll know if this will ever be fixed...

[2018-10-13 19:02] rsese commented on #169
Thanks for the report - which browser are you using? Also, can you reproduce the problem in multiple browsers and with all browser extensions disabled?

[2018-10-13 19:10] rsese commented on #170
Thanks for the report!  Reproduced on Android 9 with Chrome 69.

[2018-10-24 15:11] gabor-braun opened #171 "Login to teletype succeeds always only after second attempt in browser Falkon 3.0.0"
*Edit by @rsese to add more details and repro steps*

Can't reproduce on macOS 10.12.6, reproduced on Ubuntu 18.0.4 with Atom 1.33.0.  Also noted that Travis CI for example doesn't have this issue.

Start by making sure the 2 browsers you use are not logged into github.com (I used Firefox 74 and Chromium 71):

1. `apm install teletype`
2. Click the Teletype icon and then click the `teletype.io/log

[2018-10-24 22:27] rsese commented on #171
Thanks for the report!  Just to confirm, do you see this behavior with other browsers like the latest release versions of Firefox or Chrome, or just Falkon?

[2018-10-25 05:42] allen-woods opened #172 "Token prompt does not appear anywhere in Atom"
I am attempting to use the token the site gives me, but nothing ever happens in Atom. At all.
Should something be happening? I can only guess, but I would think the answer is supposed to be yes?

I have tried quitting out of and re-opening Atom, I have looked in every menu for something indicating where to paste it, I have logged into all pages and accounts necessary for this to work, and when I s

[2018-10-25 06:35] allen-woods commented on #172
The solution to my unique situation was that I needed to complete the "test your connection" step of the SSH setup before the login prompt would show and allow me to input my token.

If possible, it would be nice if the GitHub tab would say something like "SSH setup needs to be completed", or some indication of what the problem is.

[2018-10-25 06:35] #172 closed, assigned to nobody

[2018-10-25 12:22] jasonrudolph commented on #172
/fyi @smashwilson @annthurium @kuychaco

[2018-10-26 14:35] gabor-braun commented on #171
With Chromium and Firefox, a page "You are being redirected to the authorized application" s displayed for some time, but not the page "Oops!".

[2018-11-01 05:11] whitfin opened #173 "Add an API to retrieve packages for a user"
Basically https://atom.io/users/atom but in API form. From what I can tell, this doesn't exist yet - but would be useful for various tooling use cases and discovery.

[2018-11-02 22:51] rsese commented on #171
I had a chance to install Falkon on Ubuntu 18.04 but couldn't reproduce - can you think of anything else on your system perhaps that might be related?  Or some Falkon setting?  If you connect from a different network does that make a difference?

[2018-11-09 11:46] aayusharyan opened #174 "Issue with the Site Colour Pattern"
On the landing page, let us divide it into three sections.
First section looks perfect with everything yellow shade.
<img width="1301" alt="screenshot 2018-11-09 at 5 11 43 pm" src="https://user-images.githubusercontent.com/16634228/48260745-a01c8c00-e442-11e8-84ff-c58589c18b8e.png">

---

Next Section has a colour mismatch:
Current:
<img width="1301" alt="screenshot 2018-11-09 at 5 11 49 pm" src=

[2018-11-09 22:19] winstliu commented on #174
/cc @simurai

[2018-11-09 22:55] rsese commented on #174
Thanks for the suggestions (and for the screenshots of what you're picturing)!

We've passed along your suggestion to our design folks - because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close feedback issues after passing along the information to the maintainers to keep our backlog clean and focused.

[2018-11-09 22:55] #174 closed, assigned to simurai

[2018-11-12 02:27] simurai commented on #174
@aayusharyan That's a great suggestion. 👍

[2018-11-13 15:18] gabor-braun commented on #171
Hmmm... I have made wome further tests, and what I've said was misleading.
It seems to be browser independent, and depending on how I access the login page.

Typing in the URL https://teletype.atom.io/login by hand, the login suceeds in all browsers including Falkon.

However, when opeining Atom, clicking on the Teletpye symbol, and then the "Visit teletype.atom..." link,
then a login page appears

[2018-11-15 15:17] KeithETruesdell opened #175 "Settings Pane opening up in odd place"
This has happened a few times, not sure what causes this, but the only 'solution' I have found is to do a clean install.

Normally the settings pane will open up in the main editor area.  Either by using Ctrl+, or File --> Settings (or any other way to get to that pane).
However, sometimes (and once it happens once it won't stop), this will open in what appears to be the "navigation pane".  I don'

[2018-11-15 16:26] lee-dohm commented on #175
Thank you for contributing!

We require the [issue template](https://github.com/atom/atom/blob/master/ISSUE_TEMPLATE.md) to be filled out on all new issues and pull requests. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging

[2018-11-15 16:26] #175 closed, assigned to nobody

[2018-11-15 16:34] lee-dohm commented on #175
I apologize, this repository doesn't have an issue template like most of the others, including [atom/atom](https://github.com/atom/atom) and [atom/settings-view](https://github.com/atom/settings-view), which would be better places to report this issue. This repository is for reporting problems with the https://atom.io website itself, not problems with the Atom application. When you open your new i

[2018-11-16 20:28] jasonrudolph commented on #153
You can now install packages directly from atom.io! 😄

https://twitter.com/AtomEditor/status/1063528390991450112

[2018-11-16 20:28] #153 closed, assigned to nobody

[2018-11-30 15:21] jasonrudolph commented on #126
Thanks for these suggestions, @caleb531. :bow:

These redirects are now in place. 😅

We've got a pull request open to make this change. We hope to roll it out :soon:.

blog.atom.io is a [GitHub Pages site](https://pages.github.com/), and GitHub Pages doesn't yet provide a way to set this response header. (atom.io is a Rails app, so we're able to control which response headers get set for atom.io.)

[2018-11-30 18:43] jasonrudolph commented on #126
All atom.io links to the blog should now be pointing to HTTPS. If you notice any lingering HTTP links to blog.atom.io, please let us know. :bow:

[2018-11-30 18:43] #126 closed, assigned to nobody

[2018-12-01 01:42] lgarron commented on #126
FYI, I can set this header. However, even better would be HSTS preloading for atom.io :-D
https://hstspreload.org/?domain=atom.io

[2018-12-01 01:44] lgarron opened #176 "HSTS + Preloading for `atom.io`"
Splitting this out from https://github.com/atom/atom.io/issues/126#issuecomment-443388515
Protecting all of atom.io would be pretty great: https://hstspreload.org/?domain=atom.io

HSTS headers for GH Pages are supported, but still require manual config for now.
However, `atom.io` is served elsewhere; is it possible to send a pull request to update its header?

[2018-12-03 08:07] simurai commented on #174
This is now live on [atom.io](https://atom.io/). 🎨

[2018-12-03 13:36] jasonrudolph commented on #176
@lgarron: Can you point me to any docs for adding HSTS headers on a GitHub Pages site?

It's a private repository, but thanks for the offer. :bow:

[2018-12-03 18:58] lgarron commented on #176
Ah, sorry, I should have mentioned the same thing as in #126.
By "manual config" I mean there is no public way to do it yet. Until there is a UI (which is planned), a Hubber like me manually needs to make such a change.

[2018-12-06 02:27] rsese commented on #171
Sorry for the delay just circling back to this one - based on this part of your description:

Can you share step-by-step instructions for reproducing this behavior with Chrome/Chromium or Firefox?  I couldn't quite follow your description of how to reproduce with Konqueror.

[2018-12-06 02:29] rsese commented on #159
Thanks again for your issue!

We haven't received a response to our question in this comment https://github.com/atom/atom.io/issues/159#issuecomment-404682409. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2018-12-06 02:29] #159 closed, assigned to nobody

[2018-12-06 02:29] rsese commented on #162
Thanks again for your issue!

We haven't received a response to our question in this comment https://github.com/atom/atom.io/issues/162#issuecomment-408559587. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2018-12-06 02:29] #162 closed, assigned to nobody

[2018-12-06 02:29] rsese commented on #169
Thanks again for your issue!

We haven't received a response to our question in this comment https://github.com/atom/atom.io/issues/169#issuecomment-429567013. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2018-12-06 02:29] #169 closed, assigned to nobody

[2018-12-06 02:37] rsese commented on #150
Thanks for the feedback!  I believe this was done a month or two after you opened this issue, maybe along with the home page redesign I think.

![responsive-site](https://github-slack.s3.amazonaws.com/monosnap/Atom_2018-12-05_20-37-19.png)

[2018-12-06 02:37] #150 closed, assigned to nobody

[2018-12-07 17:05] gabor-braun commented on #171
with

1. Open https://teletype.atom.io/login in a browser.

2. Copy the URL from the address bar.  For me it was for example in one
case

https://github.com/login?
client_id=99c5a54e39feda31f25b&return_to=%2Flogin%2Foauth%2Fauthorize%3Fclient_id%3D99c5a54e39feda31f25b%26redirect_uri%3Dhttps%253A%252F%252Fteletype.atom.io%252Fauth%252Fteletype%252Fcallback%26response_type%3Dcode%26scope%3D%26state%

[2018-12-13 00:19] rsese commented on #171
Thanks for the detailed steps, I can reproduce as described :+1:

I see it's the same error with the GitHub package as well but if you try to authenticate with Travis CI for example, it seems to work ok.

[2018-12-28 05:05] linjialiang opened #177 "The Atom official web site did not load successfully in some places"
## readme

![default](https://user-images.githubusercontent.com/8848263/50412085-2e58a000-0840-11e9-87b8-51ec15985122.png)

[code]

## Why is this happening ?

1. [freetls.fastly.net](https://github-atom-io-herokuapp-com.freetls.fastly.net/assets/application-f72553d72b8fe599cf6348f4cca9f90d.js)

## The root cause

[2018-12-28 21:22] rsese commented on #177
Thanks for opening this issue here @linjialiang :+1:

It seems like this is an issue with Fastly - I'm not sure if there's anything the team can do any time soon to be honest, but we'll go ahead and share this with the team.

Since we'll share your feedback with the team and since the issue doesn't seem actionable for now, we'll go ahead and close but we can reopen in the future.

[2018-12-29 00:23] linjialiang commented on #177
ok

[2019-01-04 19:16] rsese commented on #177
@linjialiang - just wanted to let you know that we're reopening this issue for another look from the team.

[2019-01-10 08:38] ioquatix commented on #7
I'm having this problem with `script-runner`.

[code]

I tried again:

[code]

@thedaniel can you help?

[2019-01-10 19:21] lee-dohm commented on #7
@ioquatix Have you tried `apm login`? Have you removed the `_atomPackageCache` key in `package.json`? Have you tried the other debugging steps mentioned above?

[2019-01-10 19:52] ioquatix commented on #7
Yes login working fine and there was no such key.

[2019-01-25 09:34] YuxuanWang-CHINA commented on #177
I am in China.Also the same problem.

`https://github-atom-io-herokuapp-com.freetls.fastly.net/assets/application-f72553d72b8fe599cf6348f4cca9f90d.js`

`https://platform.twitter.com/oct.js`

`https://js-agent.newrelic.com/nr-1118.min.js`

[2019-01-31 00:11] ecotechie commented on #169
I can confirm. I have tried it on Firefox logged in/out to GitHub and same with Chrome. Both on Linux. Is there a way to manually create the token? Like from the [New Personal Access Token](https://github.com/settings/tokens/new) page? If so what settings are the default ones?

[2019-02-11 19:37] ottlinger commented on #57
@50Wliu any chance that a way to verify the downloaded contents can be added?

[2019-02-11 20:14] lee-dohm commented on #57
Thanks for reaching out.

We don't publish the hashes of our download packages for the following reasons:

1. All of our files are downloadable via HTTPS connections using certificates that can be verified by any browser
1. If you don't trust the code on https://atom.io to serve the correct binaries, then you can always go directly to https://github.com/atom/atom/releases to get the binaries
1. If

[2019-02-11 20:14] #57 closed

[2019-03-11 19:54] #138 closed, assigned to nobody

[2019-03-20 09:48] HonkingGoose opened #178 "Link to "build from source" on Linux points to GitHub instead of flightmanual."
**Problem:**

The link to Linux "build from source" from atom.io takes 2 steps to get to the right resource.

**Steps to reproduce:**

1. Use Firefox browser on Linux.
1. Go to the main atom.io page at https://atom.io/
1. Go to the section "build from source".
1. The "build from source" link points to: https://github.com/atom/atom/blob/master/docs/build-instructions/linux.md while that page on Git

[2019-03-20 14:09] harryscholes opened #179 "Link to "Packages & Themes" is incorrect"
Currently: `https://atom.io/packages.atom`. Presumably it should be `https://atom.io/packages`.

[2019-03-20 20:18] winstliu commented on #179
Hmm, do you mean this link?
![atom-io-packages-and-themes](https://user-images.githubusercontent.com/2766036/54716286-c60e1780-4b2b-11e9-80ee-072ed0493675.png)

[2019-03-20 20:29] harryscholes commented on #179
Yep

[2019-03-20 20:59] winstliu commented on #179
Thanks! I believe that link is actually correct, as it's supposed to link to an [RSS feed](https://en.wikipedia.org/wiki/RSS).

[2019-03-20 20:59] #179 closed, assigned to nobody

[2019-04-08 18:55] theNaut1lus opened #180 "Console Error on Browser: Can't find variable 'twttr'"
Checking the browser console I found this error, linked below:
<img width="278" alt="Screenshot 2019-04-09 at 12 21 17 AM" src="https://user-images.githubusercontent.com/35738138/55748888-66859680-5a5d-11e9-832f-13a06ab7de52.png">

On further inspection I found that the twitter analytic scripts seem to have a typo in the start as  `twttr.conversion.trackPi` this typo maybe causing some twitter ana

[2019-04-09 20:18] rsese commented on #180
Thanks for the report!  Just mentioning that we see the error too :+1:  But also wanted to mention:

The code for atom.io is not in this repository so it's not something you could submit a pull request for; but thanks for your interest and for reporting :bow:

[2019-04-23 16:55] jasonrudolph commented on #178
:wave: @HonkingGoose: This is fixed now. Thanks for bringing this to our attention.

![Screen Shot 2019-04-23 at 12 53 51 PM](https://user-images.githubusercontent.com/2988/56600594-0c411580-65c7-11e9-843a-8c88e2c454ba.png)

[2019-04-23 16:55] #178 closed, assigned to jasonrudolph

[2019-04-24 18:17] HonkingGoose commented on #178
Thanks for fixing it. :tada:

[2019-04-29 19:44] charrismatic commented on #9
Please consider adding this feature. When I try to search for a package to add sometimes the top three results will each have only 2-4 stars and somewhere far down the page a much more developed and stable package with 200,000 stars will almost be overlooked.

It leads people to install packages that might not be production ready when much better options are out there.

[2019-05-11 22:45] ioquatix commented on #7
This is still failing and I can't publish my package/update.

[code]

[2019-05-11 22:45] ioquatix commented on #7
[code]

[2019-05-11 22:48] ioquatix commented on #7
@thedaniel @lee-dohm this is blocking my ability to publish package release, is there any chance we can work through this? Happy to give you any further information.

[2019-05-11 23:05] ioquatix commented on #7
Link to package if it helps https://atom.io/packages/script-runner

[2019-05-13 09:34] thedaniel commented on #7
i don't work on this project anymore, good luck

[2019-05-13 09:36] thedaniel commented on #7
@lee-dohm do you mind unassigning this from me? i think it's a little confusing to people to see my face at the top as the assignee.

[2019-05-22 22:57] ioquatix commented on #7
@jasonrudolph any chance to get some attention to this issue? It's blocking me from publishing updated packages. I followed all advice given but nothing worked.

[2019-05-23 01:28] ioquatix commented on #7
@50Wliu sorry, just trying to pull someone in who can help or get some traction for this issue. This is a major blocking issue, I can't release any update to my package which currently has around 70k downloads. I really want to release an update!

[2019-05-23 17:34] rsese commented on #7
Hi @ioquatix :wave: apologies for the delay! I just wanted to acknowledge that I've seen your messages.  Though I can't make any specific promises about a timeline for help, I'll bring this up with the other maintainers for you and we'll followup as soon as we can.

Please note however that though I totally understand that you'd love help releasing a package update, pinging multiple people individ

[2019-05-23 20:18] ioquatix commented on #7
Okay should I make a new issue now?

[2019-05-24 16:47] rsese commented on #7
Sorry I should have been more clear about that, yes please do @ioquatix thank you :bow:

[2019-05-25 00:46] ioquatix opened #181 "apm publish gives Application Error"
@rsese as requested, from https://github.com/atom/atom.io/issues/7

[code]

Here is a manual request:

[code]

[2019-05-25 00:49] ioquatix commented on #7
I think you should close this issue.

[2019-05-29 07:47] rsese commented on #181
Thanks for opening a new issue for this @ioquatix :+1:  As I mentioned in #7, we can't promise a specific timeframe for when someone can take a look, but I'll share this with the maintainers for you.

[2019-05-29 08:39] ioquatix commented on #181
@rsese it's too bad you don't make this code open source so I can make a PR :)

[2019-05-31 02:30] harshattray opened #182 "Redirect error"
- Clicking on the Packages & Themes link on the footer redirects to a `view-source` kind of page.
![Screenshot 2019-05-31 at 7 54 53 AM](https://user-images.githubusercontent.com/3311805/58677545-13073900-837a-11e9-92f5-dfd065f09eaf.png)

[2019-05-31 02:44] winstliu commented on #182
Yeah, this is intentional - note that it says "RSS Feed" to the left of it. This page is meant for consumption by RSS readers. If you want to see the user-facing pages, they're in the header.

[2019-05-31 02:44] #182 closed, assigned to nobody

[2019-06-03 02:32] Aerijo opened #183 "language-rust-bundled package link outdated"
The `Repo` link for [language-rust-bundled](https://atom.io/packages/language-rust-bundled) goes to the [old deprecated repo](https://github.com/atom/language-rust), not the [`atom/packages/language-rust-bundled`](https://github.com/atom/atom/tree/master/packages/language-rust-bundled) repo

[2019-06-04 11:19] jclaveau commented on #71
This is super deceptive especially when you discover Atom and dig in packages repository to fit your needs.

Example  https://atom.io/packages/atom-project

[2019-06-04 17:40] lee-dohm commented on #183
Unarchived, updated the README with the standard header (taken from atom/go-to-line), re-archived.

Thanks!

[2019-06-04 17:40] #183 closed, assigned to nobody

[2019-06-11 15:22] jasonrudolph commented on #181
:wave: Hi @ioquatix: Thanks for sharing the detailed output in https://github.com/atom/atom.io/issues/181#issue-448394602. That's a big help! :bow:

I think we've tracked down the root cause of the issue. It looks like script-runner 2.4.0 was previously published on 2018-07-29, and it appears that it was unpublished just a few minutes after being published. atom.io requires each version to have a

[2019-06-11 19:42] ioquatix commented on #181
The first time it was published it showed an error message but I don’t recall what it was. I’ll try again but I am worried it will generate another partial record. If it was already published why doesn’t it say that version on the package page?

[2019-06-11 20:01] jasonrudolph commented on #181
atom.io doesn't show 2.4.0 on the package page because 2.4.0 was unpublished.

When you attempt to publish the package, atom.io should ideally provide a much more helpful error message than "Application error". 😭 Preferably, atom.io should inform you that 2.4.0 was previously published and then unpublished, and that you need to publish a new version with a unique version number.

I hope this helps

[2019-06-11 20:45] ioquatix commented on #181
Okay that makes sense. But I recall when I published it the first time it broke. If it happens again I’ll capture a full transcript.

[2019-06-11 21:59] ioquatix commented on #181
Okay I will try to release 2.4.1 now...

[2019-06-11 22:01] ioquatix commented on #181
First I did this:

[code]

[2019-06-11 22:05] ioquatix commented on #181
Okay, so it asked me to log in:

[code]

But that's not possible because I have 2FA. It needs to use SSH to push the tag.

I don't know why it's trying to use HTTP, because clearly my remote is set up to use ssh:

[code]

[2019-06-11 22:05] ioquatix commented on #181
I rolled back the failed release:

[code]

[2019-06-11 22:06] ioquatix commented on #181
Those tags never existed on the remote system because it was never pushed:

[code]

[2019-06-11 22:10] ioquatix commented on #181
I wonder if it's trying to use the repository URL to push the package:

[code]

[2019-06-11 22:15] ioquatix commented on #181
Okay, I thought maybe I can manually push the tag, then publish it:

[code]

That seemed to work.

Thinking back, I'm pretty sure when I tried to publish v2.4.0 it bombed out in the same way above with failed git credentials (https login) - I might have even tried to give it my details, but it would surely fail. I don't know how I could have ever unpublished `v2.4.0` if it was never published in t

[2019-06-12 14:03] jasonrudolph commented on #181
Thanks for letting us know! I'm glad that you were able to get the new version published. 😅

I agree. 👍

[2019-06-12 14:03] #181 closed, assigned to nobody

[2019-06-12 19:55] winstliu commented on #181
FYI, you can still login when you have 2FA enabled by providing a personal access token in the password field.

[2019-06-13 20:44] jasonrudolph commented on #45
I think this is resolved. The code of conduct in the footer now points to the master branch:

<img width="897" alt="Screen Shot 2019-06-13 at 4 43 36 PM" src="https://user-images.githubusercontent.com/2988/59466106-770a1280-8dfa-11e9-9068-8d7e74eec95c.png">

[2019-06-13 20:44] #45 closed

[2019-06-13 20:48] #7 closed

[2019-06-13 20:49] ioquatix commented on #181
Next time I make a release, I will try the 2FA and report back if it works or not.

[2019-06-28 13:42] xueyang94 opened #184 "Atom rtags error"
Everytime I edit my .cpp file, a message pops up: Rtags executor process restarted, please try again. I have Rtags package installed and up to date. The .cpp file compiles and runs fine. Is there a way to stop the message from showing up? Thanks.

[2019-06-28 16:51] rsese commented on #184
Thanks for reaching out!  And sorry for any confusion, as mentioned in the [README](https://github.com/atom/atom.io#atomio-site-feedback), this repository is for feedback about the Atom.io website and the apm package API, but it's not for questions about using Atom.

For most questions about Atom there are a lot of options, check out:

* User Documentation &mdash; [The Atom Flight Manual](http://f

[2019-06-28 16:51] #184 closed, assigned to nobody

[2019-07-19 21:16] hermidalc opened #185 "atom.io incorrectly showing 1.39 available"
*Edit by @rsese: http://atom.io says 1.39.0 is available for download, but the releases you get are for 1.38.*

[2019-07-20 01:40] rsese commented on #185
Thanks for the heads up @hermidalc - 1.39.0 hasn't been released yet so atom.io is showing the wrong release version details /cc @jasonrudolph

[2019-07-20 11:45] jasonrudolph commented on #185
Thanks for the heads up. This should be fixed now.

<img width="501" alt="Screen Shot 2019-07-20 at 7 45 00 AM" src="https://user-images.githubusercontent.com/2988/61578288-61a39a80-aac2-11e9-8a4a-4667534bdc06.png">

[2019-07-22 15:06] hermidalc commented on #185
Tell me I'm crazy... but website it showing 1.39 again yet the downloadable Linux rpm is still 1.38.2
[code]

[2019-07-22 16:34] Arcanemagus commented on #185
As you can see from the [releases page](https://github.com/atom/atom/releases) v1.38.2 is still the current stable build, looks like the website is jumping the gun a bit again 😆.

[2019-07-23 14:17] jasonrudolph commented on #185
Can you tell that we were excited to ship v1.39.0? 😂

It's [out for real now](https://github.com/atom/atom/releases/tag/v1.39.0), so atom.io is now telling the truth about the latest version. 😅 With that in mind, I think we can close this issue now.

[2019-07-30 09:36] Ivorzk opened #186 "Atom China Official Website Can't Open Normally"
Atom China Official Website Can't Open Normally
![图片](https://user-images.githubusercontent.com/7390138/62118588-854fb780-b2f0-11e9-9eac-2aaeb2e3d136.png)

[2019-07-30 19:01] rsese commented on #186
Thanks for contributing!

We noticed that this looks like a duplicate of https://github.com/atom/atom.io/issues/177 so you can subscribe there if you'd like.

---

Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close duplicates to focus our work and not have to touch the same chunk of code for the same r

[2019-07-30 19:01] #186 closed, assigned to nobody

[2019-07-31 08:06] Aerijo opened #187 "Engine param not respected in package get"
### Prerequisites

na

### Description

The package server API advertises `engine` as an optional parameter to a [package details](https://flight-manual.atom.io/atom-server-side-apis/sections/atom-package-server-api/#get-apipackagespackage_name) request, but the response is not filtered.

### Steps to Reproduce

Compare
https://atom.io/api/packages/language-rust-bundled
and
https://atom.io/api/pac

[2019-08-13 09:18] Aerijo commented on #185
@jasonrudolph Stable is still 1.39.1

![image](https://user-images.githubusercontent.com/22167388/62930090-0d5cb380-bdff-11e9-8018-55970bba4b60.png)

[2019-08-14 16:50] jasonrudolph commented on #185
Thanks for reopening this issue, @Aerijo. :bow:

I think I've tracked down the root cause. atom.io receives a [webhook payload for release events](https://developer.github.com/v3/activity/events/types/#releaseevent), but atom.io wasn't distinguishing between a *draft* release and a *published* release. We've rolled out a fix to atom.io to only update the Atom version when a new stable release is _

[2019-08-14 16:50] #185 closed, assigned to nobody

[2019-09-08 02:09] jlbooker commented on #151
Another reason to do this is that you should follow the [RPM naming convention](http://ftp.rpm.org/max-rpm/ch-rpm-file-format.html) of `name-version-release.architecture.rpm`. Ex. v1.40.1 should be named `atom-1.40.1-1.x86_64.rpm`.

As it stands, every time I download a new Atom RPM, it ends up named like `atom.x86_64 (2).rpm`, which is just annoying. It takes extra time to figure out what version

[2019-09-08 07:22] aadarsh-srivastava opened #188 "not able to use teletype properly as atom not authorized by github"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2019-09-09 05:35] Arcanemagus commented on #188
This is already being tracked in https://github.com/atom/teletype/issues/219

Thanks for reaching out!

We require the template to be filled out on all new issues and pull requests. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and

[2019-09-09 05:35] #188 closed, assigned to nobody

[2019-09-10 17:32] milesfrain commented on #9
@johnmgarretson's fix seems perfectly reasonable for the time being, but was rejected because the Atom team wants to keep package search sorting and filtering logic in the closed-source backend.

_Originally posted in https://github.com/atom/settings-view/pull/1128#issuecomment-497142912_

Backend sorting has been broken for at least 4 years. https://github.com/atom/atom.io/issues/9#issuecomment-2

[2019-09-28 19:36] xv opened #189 "Pressing the very top of the download button does nothing"
### Description
Because the download button uses `transform: translateY(2px)` to give it a "push" effect when pressed, putting the cursor at the very top of the button and pressing will not trigger `<a href="blah">` even though, visually, the button is being pressed.

### Steps to Reproduce

1. Move cursor anywhere at the top of the button, but not outside of it.
2. Press it.
3. Press it again and

[2019-10-01 00:53] rsese commented on #189
Thanks for the report!  Reproduced on macOS 10.14.6 with Chrome 77.0.3865.90.

[2019-10-02 12:55] jt3k commented on #9
it is sad

Does anyone here know about the existence of a plugin that could add sorting capability to Atom?

[2019-10-07 12:24] charrismatic commented on #9
I wanted to see how hard it would be to create solution to this problem, so this weekend I sat down and made a little wrapper utility around the apm search command. I think it turned out pretty nice, it can sort by stars or downloads, and filter by theme, package, or show the current featured list. It also formats the list cleanly, cuts off long text at the screen edge (so theres no broken lines f

[2019-10-09 03:31] Qk87 opened #190 "Coding format problem"
When I modify a file in GBK encoding format, even if I have selected the GBK encoding format in the settings, the default is UTF-8 encoding when previewing in staged changes, and it cannot be modified, which leads to my Chinese annotation display. For garbled, I hope you can solve this problem, because I have to use the GBK encoding format, and batch conversion encoding format is too much trouble.

[2019-10-09 20:58] rsese commented on #190
Thanks for reaching out!

We require the template to be filled out on all new issues and pull requests. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grin

[2019-10-09 20:58] #190 closed, assigned to nobody

[2019-12-08 18:51] wesinator opened #191 "Package named "search" is not accessible from atom.io packages, name conflicts with search URL"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board